<app-title-card
    title="PRIMER TURNO PARA INICIAR TRATAMIENTO"
    [titleFontSize]="48"
    [titleFontSizeScreen]="18"
    imageUrl="..\assets\images\CPR_diagnostico.jpg"
></app-title-card>

<div class="content mb-8">
    <div class="content-text">
        <div>
            <p class="titulo"> Gestione su primer turno aquí para Radioterapia.
                Si tiene <strong>alguna duda o consulta</strong> acerca de este servicio o del estudio
                que debe realizarse, <strong>consúltenos vía Watsapp</strong> en el contacto que tiene
                en la parte inferior derecha de la página.</p>

            <p class="titulo">Si sólo necesita solicitar un turno, complete el formulario y nos
                comunicaremos a la brevedad con Ud. </p>
        </div>

        <app-shift-form></app-shift-form>
        
    </div>
</div>

    


