#roundedInput {
    border-radius: 30px;
    padding: 2.4%;
    border: 1px solid #ccc;
    width: 100%;
}

#roundedInput:focus,
#roundedInput:focus-visible {
    border-color: #919747;
    box-shadow: 0 0 1px 1px #919747;
    outline: #919747;
}

input#roundedInput,
#roundedInput::placeholder {
    color: #919747;
}

.input-container {
    position: relative;
    width: 50%;
}

.search-button {
    border-radius: 0 30px 30px 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.5rem;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 600px) {

    input#roundedInput,
    #roundedInput::placeholder {
        font-size: 0.6rem;
    }

    #roundedInput {
        padding: 4%;
    }

    .input-container {
        width: 95%;
    }
}
