<app-title-card title="SOFTWARE DE <br>
PLANIFICACIÓN" [titleFontSize]="35" [titleFontSizeScreen]="15"
    imageUrl="assets/equipment/CPR-equipamiento-hero_software.jpg"></app-title-card>
    <div>
<div>
    <div class="mb-4 h-5 flex justify-content-between content">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo"> Sagiplan – HDR Treatment Planning Saginova </p>
                <p>
                    Una plataforma para todas las necesidades de planificación del tratamiento de
                    HDR. El software integral de planificación del tratamiento (TPS) para todas las
                    aplicaciones HDR, incluido el tratamiento de próstata en tiempo real.
                    <br /><br />
                    Un TPS para todos los tratamientos de braquiterapia HDR, con una interfaz de
                    usuario moderna y funciones de planificación avanzadas para un flujo de trabajo eficiente y rápido.
            </div>
            <div class="flex justify-content-center align-items-center"></div>
                <img src="assets/equipment/CPR-equipamiento-software.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo"> Sistema de Planificación I-Plan 4.5 Brainlab </p>
                <p>
                    El software de planificación de tratamientos RT simplifica los procedimientos
                    de planificación, caracterizados por una alta complejidad, y proporciona sofisticadas opciones de
                    tratamiento. Con
                    iPlan® RT se planifican tratamientos de
                    casos complejos con rapidez y sencillez. Incorpora sofisticados procedimientos
                    con plantillas basadas en la experiencia clínica en radiocirugía estereotáxica
                    (SRS) y radioterapia corporal estereotáxica (SBRT), que simplifican la planificación y permiten
                    proporcionar
                    tratamientos de precisión a cada paciente.
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo"> Sistema de Planificación BLUE <br> FRAME
                para SRS/IMRT – MEVIS Informática</p>
                <p>
                    Software utilizado para la planificación de tratamientos de radioterapia, tales
                    como: IMRT, IGRT, 3DCRT y Braquiterapia. Utiliza las modernas técnicas de
                    imágenes (TAC, RMN y PET) para obtener información anatómica y reconstruir
                    en forma virtual una imagen tridimensional del paciente, donde se segmentan
                    los contornos de forma exacta y precisa de la lesión y de los órganos sanos
                    circundantes. Permite diseñar la incidencia de los campos y calcular la entrega
                    de dosis en los volúmenes a tratar.
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo">Sistema Digital de Imágenes
                Fujifilm FCR Cápsula </p>
            </div>
        </div>
    </div>
</div>
