<div>
    <div class="relative" style="margin-bottom: -10px;">
        <div class="static" style="width: 100%; margin-bottom: 0;">
            <img src="..\assets\images\CPR_radioterapia.jpg" style="width: 100%; display: block;"/>
            <div class="block-image">
                <h3 class="ml-4 m-0 text-white title" style="opacity: 1;">RADIOTERAPIA</h3>
                <p class="ml-4 text-white subtitle" style="opacity: 1;">
                    Nuestro Centro ofrece tratamientos para diversos tipos de patologías oncológicas
                    con equipamiento y profesionales interdisciplinarios de excelencia, que están
                    siempre a disposición para brindar el mejor proceso de cura al paciente. 
                </p>
            </div>
        </div>
    </div>
    
    <div style="background: linear-gradient(to bottom, #61663d 0.05%, white 10%); margin-top: -10px; padding-top: 10px;">
        <div>
            <div style="margin-top: 0;">
                <p class="ml-4 p-4 mt-8 text-4xl subtitle" style="color: #61663d;">
                    Estos son los tratamientos de Radioterapia que se realizan en nuestro Centro.
                </p>
            </div>

            <div class="relative ml-6">
                <div class="static" style="width: 100%; margin-bottom: 0;">
                    
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">Braquiterapia HDR de Próstata</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">Braquiterapia HDR Ginecológica Intracavitaria</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">Braquiterapia HDR Ginecológica Intersticial</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">Braquiterapia HDR de Piel</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">IGRT Exactrac – Brainlab – Radioterapia Guiada por Imágenes</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">SBRT Exactrac –Radiocirugía Estereotáxica Corporal</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">SRS Exactrac – Radiocirugía Estereotáxica Craneal</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">Hybridarc Terapia Dinámica Volumétrica</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">IMRT – Radioterapia de Intensidad Modulada con Multiláminas</p>
                    </div>
                    <div class="flex items-center m-3">
                        <img src="..\assets\images\isologo.png" style="width: 3.5%; height: 3.5%; display: block;"/>
                        <p class="text-black font-bold ml-4 text-2xl">R3D – Radioterapia Tridimensional Conformada</p>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

