<app-title-card
    title="BRAQUITERAPIA GINECOLÓGICA INTERSTICIAL"
    [titleFontSize]="35"
    [titleFontSizeScreen]="15"
    [titlePadding]="20"
    imageUrl="..\assets\images\CPR_braquiterapia.jpeg"
    color="rgba(97, 102, 61, 0.65)"
></app-title-card>

<div class="content">
    <div class="content-text">
        <div class="description">
            <p>Consiste en colocar, bajo anestesia raquídea, una serie de catéteres o tubos en la zona a irradiar
                (el lecho tumoral, o el propio tumor), a través de los cuales la fuente radiactiva administra el
                tratamiento a esa zona y un margen próximo.</p>
        </div>
    </div>       
                
    <div class="content-img">
        <img src="..\assets\images\CPR_CancerUtero2.jpeg"/>
        <img src="..\assets\images\CPR_braqui-aparato-det.jpeg"/>
    </div>
    
    <div class="content-text">
        <div class="description">
            <p>Esta técnica se utiliza por varias razones:</p>

            <div>
                <div class="flex align-items-center"><span class="pi pi-angle-right"></span>El tumor es de gran tamaño.</div>
                <div class="flex align-items-center"><span class="pi pi-angle-right"></span>El tumor tiene una forma extraña.</div>
                <div class="flex align-items-center"><span class="pi pi-angle-right"></span>El tumor afecta la parte inferior de la vagina.</div>
                <div class="flex align-items-center"><span class="pi pi-angle-right"></span>El tumor no se puede alcanzar con los aplicadores intracavitarios.</div>
            </div>
            
            <p>La <strong>Braquiterapia Intersticial</strong> es un tipo de Braquiterapia muy especializada y es específica para
                las necesidades de cada paciente.</p>
        </div>
    </div>   
</div>
