div {
  font-family: 'Rubik Regular', sans-serif;
}

.container-main {
  height: 100%;
  width: 100%;
}

.container-flex {
  display: flex;
  width: 100%;
}

.top-section {
  align-items: flex-start;
}

.equipo-row {
  align-items: stretch;
}

.content {
  background: linear-gradient(to bottom, rgba(137, 151, 33, 0.466), rgba(255, 255, 255, 0.5) 25%);
  padding-top: 10px;
}

.content-text {
  margin-top: 40px;
  margin-left: 5%;
  flex: 2;
}

.equipo-text-col {
  flex: 2;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.equipo-inner-content {
  padding: 20px 0;
}

.description p {
  font-size: 22px;
  margin-bottom: 25px;
  line-height: 1.4;
}

.titulo-equipo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.equipo-texto {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.content-img {
  margin-top: 40px;
  margin-left: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.equipo-img-col {
  flex: 1;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.content-img img {
  width: 380px;
  height: 250px;
  margin-bottom: 25px;
  object-fit: cover;
  border-radius: 0 40px 0 0;
}

.img-saginova-full {
  width: 380px;
  height: 100%;
  object-fit: contain;
}

.divider-align {
  width: 100%;
  border: 1.5px solid #b8b8b8;
  margin: 0;
}

.check {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.check span {
  margin-right: 15px;
  font-size: 1.3rem !important;
  color: rgb(97, 102, 61);
  line-height: 1.2;
  padding-top: 4px;
  flex-shrink: 0;
}

.check p {
  margin: 0 !important;
  font-size: 22px;
}

.equipo-wrapper {
  margin-top: 60px;
  margin-bottom: 40px;
}

.botones {
  margin-top: 40px;
  margin-bottom: 60px;
}

.bra-button {
  width: 250px;
  height: 70px;
}

::ng-deep .bra-button .p-button-label {
  font-size: 16px;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .container-flex {
    flex-direction: column;
  }

  .equipo-text-col, .equipo-img-col {
    margin-right: 5%;
  }

  .description p, .check p, .equipo-texto {
    font-size: 12px;
  }

  .titulo-equipo {
    font-size: 14px;
  }

  .content-img img, .img-saginova-full {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}
