<app-title-card
    title="NUESTRO CENTRO"
    subtitle="Desde hace más de 40 años, el Centro Privado de Radioterapia brinda
    tratamientos de última generación para pacientes con cáncer."
    [titleFontSize]="40"
    [titleFontSizeScreen]="30"
    imageUrl="..\assets\images\CPR_nuestro-centro.jpg"
    color="rgba(167, 160, 28, 0.799)"

></app-title-card>
<div class="content">
    <div class="content-text">
        <div>
            <p class="titulo">Acompañamos al paciente en su proceso de cura con un equipo de
                profesionales abocados, cada uno en su especialidad, a dar el mejor
                servicio, con el objetivo de elevar su calidad de vida durante el
                tratamiento.</p>

            <p class="subtitle">MISIÓN</p>
            <p class="description">Contribuir con el cuidado de las personas de manera cálida y confiable apoyándonos en
                la constante innovación tecnológica y excelencia médica.</p>

            <p class="subtitle">VISIÓN</p>
            <p class="description">Ser una Institución de referencia en atención médica e innovación tecnológica,
                centrados en el cuidado de las personas preservando los valores, el compromiso y la
                ética profesional.</p>
            
            <p class="subtitle">VALORES</p>
            <div class="description-items">
                <div class="block flex flex-row">
                    <img src="..\assets\images\isologo.png"/>
                    <p class="description-text"><strong>Excelencia profesional</strong></p>
                </div>
            
                <div class="block flex flex-row">
                    <img src="..\assets\images\isologo.png"/>
                    <p class="description-text"><strong>Trabajo en equipo</strong></p>
                </div>
            
                <div class="block flex flex-row">
                    <img src="..\assets\images\isologo.png"/>
                    <p class="description-text"><strong>Responsabilidad Social</strong></p>
                </div>
            
                <div class="block flex flex-row">
                    <img src="..\assets\images\isologo.png"/>
                    <p class="description-text"><strong>Ética</strong></p>
                </div>
            
                <div class="block flex flex-row">
                    <img src="..\assets\images\isologo.png"/>
                    <p class="description-text"><strong>Compromiso</strong></p>
                </div>
            
                <div class="block flex flex-row">
                    <img src="..\assets\images\isologo.png"/>
                    <p class="description-text"><strong>Eficiencia</strong></p>
                </div>
            </div>
            
                
        </div>
    </div>        
</div>

