<app-title-card
    title="NUESTRO CENTRO"
    subtitle="Más de 40 años de experiencia profesional y liderazgo tecnológico, comprometidos con
    mejorar la calidad de vida de los pacientes."
    [titleFontSize]="40"
    [titleFontSizeScreen]="30"
    imageUrl="..\assets\images\bg-centro.jpg">
</app-title-card>

<div class="content">
    <div class="content-text">
        <div>
            <p class="titulo">
                Acompañamos al paciente en su proceso de cura con un equipo de<span class="hide-on-mobile"><br></span>
                profesionales abocados, cada uno en su especialidad, a dar el mejor<span class="hide-on-mobile"><br></span>
                servicio, con el objetivo de elevar su calidad de vida durante el<span class="hide-on-mobile"><br></span>
                tratamiento.
            </p>

            <div class="row">
                <div class="col">
                    <p class="subtitle">MISIÓN</p>
                    <p class="description">
                        Contribuir con el cuidado de las personas de manera cálida y confiable apoyándonos en
                        la constante innovación tecnológica y excelencia médica.
                    </p>
                    <hr class="divider"> <!-- Divider separado para MISIÓN -->
                </div>

                <div class="col">
                    <p class="subtitle">VISIÓN</p>
                    <p class="description">
                        Ser una Institución de referencia en atención médica e innovación tecnológica,
                        centrados en el cuidado de las personas preservando los valores, el compromiso y la
                        ética profesional.
                    </p>
                    <hr class="divider"> <!-- Divider separado para VISIÓN -->
                </div>
            </div>

            <p class="subtitle">VALORES</p>
            <div class="row description-items">
                <div class="col">

                    <div class="block flex flex-row">
                        <img src="..\assets\images\isologo.png"/>
                        <p class="description-text">Excelencia profesional</p>
                    </div>
    
                    <div class="block flex flex-row">
                        <img src="..\assets\images\isologo.png"/>
                        <p class="description-text">Trabajo en equipo</p>
                    </div>
    
                    <div class="block flex flex-row">
                        <img src="..\assets\images\isologo.png"/>
                        <p class="description-text">Responsabilidad Social</p>
                    </div>

                </div>
                <div class="col">

                    <div class="block flex flex-row">
                        <img src="..\assets\images\isologo.png"/>
                        <p class="description-text">Ética</p>
                    </div>
    
                    <div class="block flex flex-row">
                        <img src="..\assets\images\isologo.png"/>
                        <p class="description-text">Compromiso</p>
                    </div>
    
                    <div class="block flex flex-row">
                        <img src="..\assets\images\isologo.png"/>
                        <p class="description-text">Eficiencia</p>
                    </div>

                </div>
                
            </div>

            <hr class="divider-bottom"> <!-- Divider debajo de todo -->
        </div>
    </div>
</div>
