div {
    font-family: 'Rubik Regular', sans-serif
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    background: linear-gradient(to bottom, rgba(158, 174, 38, 0.502), rgba(255, 255, 255, 0.5) 15%);
    padding-top: 10px;
    font-family: 'Rubik Regular', sans-serif;

}

.content-text {
    margin-left: 5%;
    margin-right: 5%;
}

.titulo {
    font-size: 28px;
    color: #585f12;
    font-family: 'Rubik Regular', sans-serif;
}


.subtitle {
    font-size: 25px;
    font-family: 'Rubik Regular', sans-serif;
    margin-bottom: 0px;
    color: #585f12;
}

.description {
    margin-top: 20px;
    font-size: 22px;
    display: grid;
}

.description-items {
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mantiene las 2 columnas */
    grid-gap: 10px;
}

.description-text {
    font-size: 22px;
    margin-left: 5%;
    margin-bottom: 10px;
}

.description span {
    margin-right: 10px;
    margin-left: 60px;
    font-weight: 900;
    font-size: 1.5rem;
}


.block {
    display: flex;
    align-items: center;
}

.block img {
    width: 30px;
    height: 30px;
    margin-right: 1 px;
}

.description strong {
    font-weight: 800;
}
.row {
    display: flex;
    margin-top: 20px;
    align-items: stretch; /* Las columnas tendrán la misma altura */
}

.col {
    flex-basis: 40%;
    max-width: 27%;
    flex-grow: 0;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divider {
    width: 100%;
    margin-top: auto; /* Alinea el divider al final de la columna */
    margin-bottom: 20px;
    border: 1.5px solid #585f12;
}

.divider-bottom {
    width: 56%;
    border: 1.5px solid #585f12;
    margin-top: 40px;
    margin-left: 0; 
    margin-bottom: 12%;
}


@media screen and (max-width: 600px) {
    .titulo {
        font-size: 12px;
    }


    .description {
        margin-top: 10px;
        font-size: 10px;
    }

    .subtitle {
        font-size: 12px;
        margin-bottom: -10px;
    }

    .description span {
        margin-right: 7px;
        font-size: 0.5rem;
        margin-left: 20px;
    }


    .block {
        font-size: 9px;
        display: flex;
    }

    .block img {
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }

    

    .description-text {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .col {
        max-width: 50%;
    }
    
.divider-bottom {
    width: 80%;
}
}