* {
  box-sizing: border-box;
}

div {
  font-family: 'Rubik Regular', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
}

.content {
  background: linear-gradient(to bottom, rgba(158, 174, 38, 0.502), rgba(255, 255, 255, 0.5) 15%);
  padding-top: 5%;
  font-family: 'Rubik Regular', sans-serif;
}

.content-text {
  margin-left: 5%;
  margin-right: 5%;
}

.titulo {
  font-size: 28px;
  color: #585f12;
  font-family: 'Rubik Regular', sans-serif;
}

.subtitle {
  font-size: 25px;
  font-family: 'Rubik Regular', sans-serif;
  margin-bottom: 0px;
  color: #585f12;
  padding-left: 0;
  margin-left: 0;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  display: block;
  padding-left: 0;
  margin-left: 0;
}

.description-items {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.description-text {
  font-size: 22px;
  margin-left: 5%;
  margin-bottom: 10px;
}

.description span {
  margin-right: 10px;
  margin-left: 60px;
  font-weight: 900;
  font-size: 1.5rem;
}

.block {
  display: flex;
  align-items: center;
}

.block img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.description strong {
  font-weight: 800;
}

.row {
  display: flex;
  margin-top: 20px;
  align-items: stretch;
  margin-bottom: 90px;
}

.col {
  flex-basis: 40%;
  max-width: 27%;
  flex-grow: 0;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.divider {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  border: 1.5px solid #585f12;
  margin-left: 0;
  margin-right: 0;
}

.divider-bottom {
  width: 56%;
  border: 1.5px solid #585f12;
  margin-top: 40px;
  margin-left: 0;
  margin-bottom: 12%;
}

.divider-end {
  margin-top: auto !important;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .col {
    max-width: 100%;
    width: 100%;
    flex-basis: auto;
    margin: 0 !important;
    padding: 0;
  }

  .col:last-child .divider:first-of-type {
    display: none;
  }

  .col .divider-end {
    margin-bottom: 30px;
  }

  .titulo {
    font-size: 18px;
    line-height: 1.3;
  }

  .description {
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
  }

  .subtitle {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .description-items {
    display: flex;
    flex-direction: column;
  }

  .description span {
    margin-right: 7px;
    font-size: 0.5rem;
    margin-left: 20px;
  }

  .block {
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }

  .block img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .description-text {
    font-size: 16px;
    margin-bottom: 0;
  }

  .divider-bottom {
    width: 100%;
  }

  .hide-on-mobile {
    display: none;
  }

  .w-7 {
    width: 100% !important;
  }
}
