<app-title-card
    title="NUESTRO CENTRO"
    subtitle="Más de 40 años de experiencia profesional y liderazgo tecnológico, comprometidos con
    mejorar la calidad de vida de los pacientes."
    [titleFontSize]="40"
    [titleFontSizeScreen]="30"
    imageUrl="assets/images/bg-centro.jpg">
</app-title-card>

<div class="content">
    <div class="content-text">
        <div>
            <p class="titulo">
              El liderazgo tecnológico, la modernización continua de su<span class="hide-on-mobile"><br></span>
              infraestructura y la capacitación permanente del equipo de<span class="hide-on-mobile"><br></span>
              profesionales, ha ubicado al Centro Privado de Radioterapia<span class="hide-on-mobile"><br></span>
              Río Cuarto S.A. como una de las instituciones médicas<span class="hide-on-mobile"><br></span>
              especializadas en Radioterapia de mayor prestigio.
            </p>

          <p class="description w-7" > Contribuir a mejorar la salud de las personas brindando atención confiable y
             personalizada, es el objetivo permanente de todo el equipo de profesionales.</p>

            <div class="row align-items-stretch mt-2">
                <div class="col">
                  <hr class="divider">
                    <p class="subtitle">MISIÓN</p>
                    <p class="description">
                      Ser una institución de excelencia en el
                      tratamiento y asistencia de pacientes
                      con cáncer, en la investigación y
                      desarrollo en las distintas áreas del
                      conocimiento para la aplicación de
                      nuevas técnicas de alta complejidad
                      acorde con los avances de la medicina
                      moderna y teniendo en cuenta la
                      integridad física, emocional y espiritual
                      de las personas.
                    </p>
                    <hr class="divider divider-end mt-2"> <!-- Divider separado para MISIÓN -->
                </div>

                <div class="col">
                  <hr class="divider">
                    <p class="subtitle">VISIÓN</p>
                    <p class="description">
                      Contribuir a mejorar la salud de las
                      personas brindando una atención
                      confiable y personalizada donde la
                      calidez, la excelencia profesional y el
                      liderazgo tecnológico conforman la
                      esencia de la institución.
                    </p>
                    <hr class="divider divider-end mt-2"> <!-- Divider separado para VISIÓN -->
                </div>
            </div>
        </div>
    </div>
</div>
