    <app-title-card 
        title="QUÉ ES EL MINDFULNESS" 
        [titleFontSize]="35"
        [titleFontSizeScreen]="15"
        imageUrl="..\assets\images\CPR_mindfulness-popup.jpg"
    ></app-title-card>

<div class="content">
    
    <div class="first flex">
        <div class="flex">
            <div class="content-text">
                <div>
                    <p  class="titulo">Mindfulness puede definirse sencillamente como la capacidad de <strong>prestar
                        atención de manera conciente a la experiencia del momento presente
                        con interés, curiosidad y aceptación.</strong> </p>
                </div>
    
                <div class="description mb-6">
                    <p>Durante los últimos 30 años, la práctica de Mindfulness está integrándose a la medicina y
                        psicología de occidente.</p>
    
                    <p>Es aplicada y estudiada científícamente y por ello reconocida como una manera efectiva de
                        <strong>reducir el estrés, aumentar la autoconciencia, reducir los síntomas físcos y psicológicos
                        asociados al estrés y mejora el bienestar general.</strong></p>
    
                    <p>Jon Kabat-Zinn, profesor emérito de medicina, fundó la Clínica de Reducción de Estrés en el
                        Centro Médico de la Universidad de Massachusetts. Allí introdujo a los pacientes a la <strong>práctica
                        de Mindfulness</strong> para el <strong>tratamiento de problemas físicos, y psicológicos, dolor crónico, y
                        otros síntomas asociados al estrés.</strong></p>
    
                    <p>La atención plena nos ayuda a <strong>recuperar nuestro equilibrio interno,</strong> atendiendo de forma
                        integral a los aspectos de la persona: <strong>cuerpo, mente y espíritu.</strong> Practicando la atención plena
                        desarrollamos una mayor capacidad de discernimiento y de compasión.</p>
    
                    <p>Esta práctica abre la puerta hacia nuevas posibilidades, nos trae al <strong>aquí y al ahora</strong>, nos invita a
                        vivir una vida de manera plena y en el presente.</p>
    
                </div>
            </div>
        </div>    
    </div>
</div>




