div {
  font-family: 'Rubik Regular', sans-serif;
}

.container-flex {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.content {
  background: linear-gradient(to bottom, rgba(137, 151, 33, 0.466), rgba(255, 255, 255, 0.5) 25%);
  padding-top: 10px;
}

.content-text {
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  flex: 2;
}

.titulo {
  font-size: 28px;
  color: #919747;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.3;
}

.description p {
  font-size: 22px;
  margin-bottom: 20px;
}

.description strong {
  font-weight: 800;
}

.content-img {
  margin-top: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-img img {
  height: 220px;
  width: auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 0 40px 0 0;
  margin-right: 80px;
}

@media screen and (max-width: 600px) {
  .container-flex {
    flex-direction: column;
  }

  .titulo {
    font-size: 15px;
    margin-top: 15px;
  }

  .description p {
    font-size: 12px;
  }

  .content-text {
    margin-right: 5%;
    margin-top: 0px;
  }

  .content-img {
    margin-top: 30px;
    align-items: center;
  }

  .content-img img {
    width: 90%;
    height: auto;
    margin-right: 0;
    margin-top: 10px;
  }
}
