<app-title-card
    title="BRAQUITERAPIA GINECOLÓGICA INTRACAVITARIA"
    [titleFontSize]="35"
    [titleFontSizeScreen]="15"
    [titlePadding]="42"
    imageUrl="..\assets\images\CPR_braquiterapia.jpeg"
    color="rgba(97, 102, 61, 0.65)"
></app-title-card>


<div class="content">
    <div class="content-text">
        <div class="description">
            <p>En este tipo de intervención la fuente radiactiva se introduce en unos dispositivos especiales
                (aplicadores, catéteres), que se colocan en cavidades anatómicas para luego realizar la
                irradiación.
                </p>
        </div>
    </div>       
                
    <div class="content-img">
        <img src="..\assets\images\CPR_braqui-det1.jpeg"/>
        <img src="..\assets\images\CPR_braqui-aparato-det.jpeg"/>
    </div>
    
    <div class="content-text">
        <div class="description">            
            <p>En la <strong>Braquiterapia Intracavitaria</strong> se coloca un aplicador que contiene una sustancia radiactiva en 
                la zona donde se encuentra el tumor, o de donde ha sido extirpado.</p>
        </div>

        <div class="flex botones">
            <p-button class="flex felx-row bra-button" label="BRAQUITERAPIA INTERSTICIAL" (click)="goToBraquiIntracavitary()" [rounded]="true"></p-button>
        </div>

    </div>   
</div>
