div {
  font-family: 'Rubik Regular', sans-serif;
}

.container-main {
  height: 100%;
  width: 100%;
}

.container-flex {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.content {
  background: linear-gradient(to bottom, rgba(137, 151, 33, 0.466), rgba(255, 255, 255, 0.5) 25%);
  padding-top: 10px;
}

.content-text {
  margin-top: 40px;
  margin-left: 5%;
  flex: 2;
}

.description p {
  font-size: 22px;
  margin-bottom: 25px;
  line-height: 1.4;
}

.description strong {
  font-weight: 800;
}

.titulo-equipo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.equipo-texto {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.content-img {
  margin-top: 40px;
  margin-left: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-img img {
  width: 380px;
  height: 250px;
  margin-bottom: 25px;
  object-fit: cover;
  border-radius: 0 40px 0 0;
  margin-right: 80px;
}

.img-full-container {
  width: 380px;
  margin-top: 20px;
}

.img-saginova {
  width: 100% !important;
  height: auto !important;
  object-fit: contain !important;
  border-radius: 0 !important;
}

.divider {
  width: 100%;
  border: 1.5px solid #b8b8b8;
  margin: 30px 0;
}

.botones {
  margin-top: 40px;
  margin-bottom: 60px;
}

.bra-button {
  width: 250px;
  height: 70px;
}

::ng-deep .bra-button .p-button-label {
  font-size: 16px;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .container-flex {
    flex-direction: column;
  }

  .content-text {
    margin-right: 5%;
    margin-top: 20px;
  }

  .description p, .equipo-texto {
    font-size: 12px;
  }

  .titulo-equipo {
    font-size: 14px;
  }

  .content-img {
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .content-img img, .img-full-container {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .bra-button {
    width: 180px;
    height: 45px;
  }

  ::ng-deep .bra-button .p-button-label {
    font-size: 10px;
  }
}
