<div class="landing flex justify-content-center align-items-center">
    <div class="flex flex-column align-items-center w-full">
        <h2 class="text-white textoPregunta">¿En qué podemos ayudarte?</h2>
        <div class="input-container">
            <input type="text" id="roundedInput" placeholder="TURNOS, TRATAMIENTOS, ESPECIALIDADES, PROFESIONALES..." />
            <button type="button" pButton icon="pi pi-search" class="p-button-warning search-button"></button>
        </div>
    </div>
    <div class="absolute bottom-0 right-0 m-3">
        <button pButton pRipple class="p-button-success p-button-rounded p-button-raised consultas-button">
            CONSULTAS
            <img src="/assets/images/whatsapp_logo.png" alt="WhatsApp Logo">
        </button>
    </div>
</div>
<div class="m-5">
    <app-mini-card></app-mini-card>
</div>