.texto {
    font-size: 17px;
}
.textoPregunta {
    font-size: 30px;
    font-family: 'Rubik Regular', sans-serif;}
.textoVerde {
    color: #919747;
    margin: 5%;
}

.especialidades {
    background: linear-gradient(to bottom, rgba(158, 174, 38, 0.502), rgba(255, 255, 255, 0.5) 15%);
}

.logo{
    width: 25%;
}

.landing {
    min-height: 100vh;
}
.sinEspacio{
    margin-bottom: -5%;
}
app-search {
    width: inherit;
    display: contents;
}
/* Resposive */

@media screen and (max-width: 600px) {
    .texto {
        font-size: 9px;
    }

    .textoPregunta {
        font-size: 14px;
    }

    #roundedInput {
        padding: 4%;
    }
    .logo{
        width: 40%;
    }
    .fondoVerde{
        width: auto;
    }
    .bottom-0{
        bottom: 30px !important;
    }
}