<div class="sinEspacio"><div class="landing flex justify-content-center align-items-center">
    <div class="flex flex-column align-items-center w-full">
        <h2 class="text-white textoPregunta z-3">¿En qué podemos ayudarte?</h2>
        <app-search></app-search>
    </div>
</div>
<div class="especialidades flex flex-column justify-content-center align-items-center">
    <h2 class="textoVerde textoPregunta">Nuestras especialidades</h2>
    <app-mini-card></app-mini-card>
</div>
<div>
    <app-turn-foot></app-turn-foot>
</div>
<div>
    <app-news-home></app-news-home>
</div>
</div>