<app-title-card
    title="ATENCIÓN LOCAL Y EXTERNA"
    subtitle="Nuestro Centro atiende a pacientes provenientes de todo el territorio argentino y países de LATAM"
    [titleFontSize]="45"
    [titleFontSizeScreen]="20"
    imageUrl="assets/images/CPR_gingko.jpg"
    color="rgba(167, 160, 28, 0.75)"
></app-title-card>
<div class="content">
    <div class="content-text">
        <div>
            <p class="titulo">Nuestro Centro realiza tratamientos de Radioterapia <span class="hide-on-mobile"><br></span>
                de excelencia, reconocidos tanto en el país como en el <span class="hide-on-mobile"><br></span>
                exterior.</p>

            <p class="description">Este es un gráfico que ilustra la procedencia de 
                los pacientes que nuestro<span class="hide-on-mobile"><br></span> Centro atiende.</p>
        </div>
        <div class="img-container">
            <img src="assets/images/CPR_atention.png"/>
        </div>
    </div>
</div>        