<app-title-card
  title="ATENCIÓN DE PACIENTES DENTRO Y FUERA DE LA PROVINCIA"
  subtitle="En nuestro Centro de Radioterapia, nos dedicamos a brindar atención médica de excelencia a pacientes de todo el país."
  [titleFontSize]="45"
  [titleFontSizeScreen]="20"
  imageUrl="assets/images/CPR_gingko1.jpg"
  color="rgba(167, 160, 28, 0.75)"
></app-title-card>

<div class="content">
  <div class="content-text">
    <div class="flex flex-column">
      <p class="titulo">Sabemos que viajar para recibir tratamiento puede <br>
        ser un desafío, por lo que nos comprometemos <br>
        a hacer que su estadía y atención sean lo más <br>
        cómodas posible.</p>

      <div class="flex flex-row align-items-start gap-5 responsive-wrapper">
        <div class="checks w-7">
          <p>Nuestros servicios incluyen: </p>
          <div class="description">
            <p-divider></p-divider>
            <div class="flex align-items-center check">
              <span class="pi pi-angle-right" style="color: #919747"></span>
              <p><strong>Evaluación médica personalizada: </strong>
                Nuestro equipo de profesionales <br>
                evalúa su caso y determina el tratamiento más adecuado para usted.</p>
            </div>
            <p-divider></p-divider>
            <div class="flex align-items-center check">
              <span class="pi pi-angle-right" style="color: #919747"></span>
              <p><strong>Asistencia logística: </strong>
                Ayuda para encontrar alojamiento y transporte <br>
                para que pueda enfocarse en su recuperación.</p>
            </div>
            <p-divider></p-divider>
            <div class="flex align-items-center check">
              <span class="pi pi-angle-right" style="color: #919747"></span>
              <p><strong>Gestión de autorizaciones:  </strong>
                Nos encargamos de los trámites necesarios <br>
                para autorizar su tratamiento.</p>
            </div>
            <p-divider></p-divider>
            <div class="flex align-items-center check">
              <span class="pi pi-angle-right" style="color: #919747"></span>
              <p><strong>Apoyo emocional y psicológico:  </strong>
                Nuestro equipo de psicólogos y <br>
                terapeutas está aquí para apoyarlo durante todo el proceso.</p>
            </div>
            <p-divider></p-divider>
            <div class="flex align-items-center check">
              <span class="pi pi-angle-right" style="color: #919747"></span>
              <p><strong>Comunicación constante: </strong>
                Mantenemos informados a su médico <br>
                derivador y familiares sobre su progreso.</p>
            </div>
            <p-divider></p-divider>
            <div class="flex align-items-center check">
              <span class="pi pi-angle-right" style="color: #919747"></span>
              <p><strong>Servicios de psicoterapia y Mindfulness: </strong>
                Acceda a nuestros servicios <br>
                de apoyo emocional y mindfulness para mejorar su bienestar.</p>
            </div>
            <p-divider></p-divider>
            <div class="flex align-items-center check">
              <span class="pi pi-angle-right" style="color: #919747"></span>
              <p><strong>Asistencia durante su estadía: </strong>
                Estamos aquí para ayudarlo en todo lo <br>
                que necesite durante su tratamiento.
            </div>

            <p-divider></p-divider>
            <div class="flex align-items-center check">
              <span class="pi pi-angle-right opacity-0" style="color: #919747"></span>
              <p><strong style="color: #919747">Confíe en nosotros para su cuidado. </strong>
            </div>

          </div>
        </div>
        <div class="w-3 img-container">
          <img src="assets/images/CPR_atention.jpg"/>
        </div>
      </div>
    </div>

  </div>
</div>
