div {
    font-family: 'Rubik Regular', sans-serif
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    background: linear-gradient(to bottom, rgba(158, 174, 38, 0.502), rgba(255, 255, 255, 0.5) 15%);
    padding-top: 5%;
    font-family: 'Rubik Regular', sans-serif;

}

.content-text {
    margin-left: 5%;
    margin-right: 5%;
}

.titulo {
    font-size: 28px;
    font-family: 'Rubik Regular', sans-serif;
    color: #585f12;
}


.description {
    margin-bottom: 5%;
    font-size: 22px;
}


.description strong {
    font-weight: bold;
    font-weight: 800;
}


.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 12%;
    margin-top: 5%;
}


@media screen and (max-width: 600px) {
    .titulo {
        font-size: 12px;
    }

    .description {
        font-size: 10px;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 30px;
    }


}