<div class="flex flex-column justify-content-center align-items-center contenedor">
    <h2 class="titulo">Estamos para cuidarte</h2>
    <div class="flex justify-content-center align">
        <div class="card">
            <div class="imagen-contenedor flex justify-content-center align-items-center">
                <img src="assets/news/banner-home-news1.jpg" alt="">
            </div>
            <div class="info-contenedor flex flex-column justify-content-center align-items-center">
                <p class="titulo texto p-0 text-center">Lanzamos un nuevo <br>
                    GRUPO DE DIFUSIÓN a través<br>
                    de Whatsapp</p>
                    <p-button label="LEER MÁS" (click)="navigateToNewsWithFragment('noticia1')" [style]="{'border-radius': '20px'}"></p-button>
                </div>
        </div>
        <div class="card">
            <div class="imagen-contenedor flex justify-content-center align-items-center">
                <img src="assets/news/banner-home-news2.jpg" alt="">
            </div>
            <div class="info-contenedor flex flex-column justify-content-center align-items-center">
                <p class="titulo texto p-0 text-center">Renovamos las instalaciones <br>
                    del Centro, para brindarle una <br>
                    mayor comodidad</p>
                <p-button label="LEER MÁS" (click)="navigateToNewsWithFragment('noticia2')" [style]="{'border-radius': '20px'}"></p-button>
            </div>
        </div>
        <div class="card">
            <div class="imagen-contenedor flex justify-content-center align-items-center">
                <img src="assets/news/banner-home-news3.jpg" alt="">
            </div>
            <div class="info-contenedor flex flex-column justify-content-center align-items-center">
                <p class="titulo texto p-0 text-center">Optimizamos nuestro <br>
                    sistema de Turnos para <br>
                    una mejor atención</p>
                <p-button label="LEER MÁS" (click)="navigateToNewsWithFragment('noticia3')" [style]="{'border-radius': '20px'}"></p-button>
            </div>
        </div>
    </div>
    <div class="espacio">
        <a  class="cursor-pointer" (click)="navigateTo('/news')">
            <h4 class="footerText">VER TODAS LAS NOTAS</h4>
        </a>
    </div>

</div>