<div class="flex flex-column justify-content-center align-items-center contenedor pb-4">
    <h2 class="titulo">Estamos para cuidarte</h2>
    <div class="flex flex-wrap justify-content-center align-items-center">
        <div class="card m-2 ml-4 mr-4">
            <div class="imagen-contenedor flex justify-content-center align-items-center">
                <p class="p-0 m-0">IMAGEN</p>
            </div>
            <div class="info-contenedor flex flex-column justify-content-center align-items-center">
                <p class="titulo texto p-0 m-0 text-center">Lorem ipsum dolor <br> sit,
                    amet consectetur <br>adipisicing elit</p>
                <p-button class="mt-5" label="LEER MÁS" [style]="{'border-radius': '20px'}"></p-button>
            </div>
        </div>
        <div class="card m-2 ml-4 mr-4">
            <div class="imagen-contenedor flex justify-content-center align-items-center">
                <p class="p-0 m-0">IMAGEN</p>
            </div>
            <div class="info-contenedor flex flex-column justify-content-center align-items-center">
                <p class="titulo texto p-0 m-0 text-center">Lorem ipsum dolor <br> sit,
                    amet consectetur <br>adipisicing elit</p>
                <p-button class="mt-5" label="LEER MÁS" [style]="{'border-radius': '20px'}"></p-button>
            </div>
        </div>
        <div class="card m-2 ml-4 mr-4">
            <div class="imagen-contenedor flex justify-content-center align-items-center">
                <p class="p-0 m-0">IMAGEN</p>
            </div>
            <div class="info-contenedor flex flex-column justify-content-center align-items-center">
                <p class="titulo texto p-0 m-0 text-center">Lorem ipsum dolor <br> sit,
                    amet consectetur <br>adipisicing elit</p>
                <p-button class="mt-5" label="LEER MÁS" [style]="{'border-radius': '20px'}"></p-button>
            </div>
        </div>
    </div>
</div>