<!-- <div class="card flex justify-content-center m-4">
    <div class="w-8">
        <img alt="Card" src="..\assets\images\CPR_JorgeSAR.jpg" style="width: 300px; height: 200px;" />
    </div>
</div>
 -->

<div class="flex justify-content-center m-4 gap-4">
    <div class="article-card">
        <div class="content">
            <h3 class="ml-4 m-0 text-white title">RADIOTERAPIA</h3>
            <p class="ml-4 date">Conozca todos los tratamientos y patologías que se tratan en nuestro Centro.</p>
        </div>
        <img src="..\assets\images\CPR_JorgeSAR.jpg" alt="article-cover" />
    </div>
    <div class="article-card">
        <div class="content fondoNaranja">
            <h3 class="ml-4 m-0 text-white title">DIAGNÓSTICO POR IMÁGENES</h3>
            <p class="ml-4 date">Nuestro Centro realiza Diagnósticos por imágenes para tratamientos oncológicos y de otras especialidades.</p>
        </div>
        <img src="..\assets\images\CPR_tomografo.jpeg" alt="article-cover" />
    </div>
</div>