<div class="flex  flex-wrap justify-content-center mt-3 mb-3 gap-3">
    <a routerLink="/radiotherapy" class="article-card shadow-6">
        <div class="content">
            <h3 class="ml-4 m-0 text-white title">RADIOTERAPIA</h3>
        </div>
        <img src="..\assets\images\CPR_JorgeSAR.jpg" alt="article-cover" />
    </a>
    <a routerLink="/diagnostic-imaging" class="article-card shadow-6">
        <div class="content fondoNaranja">
            <h3 class="ml-4 m-0 text-white title">DIAGNÓSTICO POR IMÁGENES</h3>
        </div>
        <img src="..\assets\images\CPR_tomografo.jpeg" alt="article-cover" />
    </a>
    <a routerLink="/psychology" class="article-card shadow-6">
        <div class="content fondoAmarillo">
            <h3 class="ml-4 m-0 text-white title">PSICOLOGÍA</h3>
        </div>
        <img src="..\assets\images\CPR_meditationgroup.jpeg" alt="article-cover" />
    </a>
</div>