<div class="conteiner">
    <app-title-card
        title="BRAQUITERAPIA HDR <span class='hide-on-mobile'><br></span> DE PIEL"
        [titleFontSize]="35"
        [titleFontSizeScreen]="15"
        imageUrl="assets/images/bg-hero7-braqui.jpg"
    ></app-title-card>

    <div class="content">
         <!-- Primera sección de texto e imágenes -->
        <div class="flex container">
            <!-- Texto de introducción -->
            <div class="content-text">
                <div>
                    <p class="titulo" >Braquiterapia de Alta Tasa de Dosis</p>
                </div>
                <div class="description">
                    <p>Es un tratamiento ambulatorio en el cual se pone en contacto con el tumor una
                      fuente radiante de alta energía. Se inicia con una tomografía computada del área de
                      interés y mediante un software se realiza una planificación tridimensional entregando
                      las dosis necesarias en el blanco tumoral y minimizamos los efectos adversos en los
                      órganos sanos circundantes. </p>
                    <p>Se puede hacer de contacto para las lesiones superficiales o intersticial para lesiones
                      profundas. </p>
                </div>
            </div>


            <!-- Imágenes -->
            <div class="content-img">
                    <img src="assets/images/CPR_cancer-piel.jpg"/>
                    <img src="assets/images/CPR_braqui-aparato-det.jpeg"/>
            </div>
        </div>
    </div>
</div>



<app-turn-foot
title1= "Contactanos y solicitá de manera simple tu <strong> primer turno <strong>"
direccion="/shifts-start-radiotherapy"
></app-turn-foot>
