<div class="conteiner">
    <app-title-card
        title="BRAQUITERAPIA HDR <span class='hide-on-mobile'><br></span> DE PIEL"
        [titleFontSize]="35"
        [titleFontSizeScreen]="15"
        imageUrl="assets/images/CPR_braquiterapia.jpeg"
    ></app-title-card>

    <div class="content">
         <!-- Primera sección de texto e imágenes -->
        <div class="flex container">
            <!-- Texto de introducción -->
            <div class="content-text">
                <div>
                    <p class="titulo" >Tratamiento ambulatorio que brinda excelentes resultados cosméticos.</p>
                </div>
                <div class="description">
                    <p>El tratamiento se inicia con una <strong>tomografía computada</strong> del área de interés, y mediante un
                        software se realiza una <strong>planificación tridimensional</strong> entregando las dosis necesarias en el
                        banco tumoral, <strong>minimizando los efectos adversos en los órganos sanos circundantes.</strong>
                        Luego se pone en contacto el tumor con una <strong>fuente radiante</strong> de alta energía. </p>
                    <p>Se puede hacer de contacto para <strong>lesiones superficiales</strong> o intersticial para <strong>lesiones profundas.</strong>
                        Cuenta con mínimos o nulos efectos adversos y es administrable en pocas sesiones, entre 1 a 10. </p> 
                </div>
            </div>   
            
            
            <!-- Imágenes -->
            <div class="content-img">
                    <img src="assets/images/CPR_cancer-piel.jpg"/>
                    <img src="assets/images/CPR_braqui-aparato-det.jpeg"/>
            </div>
        </div>
    </div>        
</div>

    

<app-turn-foot 
title1= "Contactanos y solicitá de manera simple tu <strong> primer turno <strong>"
direccion="/shifts-start-radiotherapy"
></app-turn-foot>
