div {
  font-family: 'Rubik Regular', sans-serif;
  box-sizing: border-box;
}

.container-flex {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.content {
  background: linear-gradient(to bottom, rgba(137, 151, 33, 0.466), rgba(255, 255, 255, 0.5) 25%);
  padding-top: 10px;
  margin-bottom: 12%;
}

.content-text {
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 2%;
  flex: 2;
}

.titulo-principal, .titulo {
  font-size: 28px;
  color: #919747;
  margin-top: 0;
  margin-bottom: 20px;
}

.description p {
  font-size: 22px;
  margin-bottom: 15px;
}

.description strong {
  font-weight: 800;
}

.content-img {
  margin-top: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-img img {
  height: 220px;
  width: auto;
  max-width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 0 40px 0 0;
  margin-right: 5%;
}

.check {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.check span {
  margin-right: 15px;
  font-size: 1.3rem !important;
  line-height: 1.2;
  padding-top: 4px;
  flex-shrink: 0;
}

.check p {
  margin: 0 !important;
  font-size: 22px;
}

p-divider {
  display: block;
  margin: 5px 0;
}

@media screen and (max-width: 900px) {
  .container-flex {
    flex-direction: column;
  }

  .content-text {
    margin-right: 5%;
    margin-top: 20px;
    width: 90%;
  }

  .titulo-principal, .titulo {
    font-size: 20px;
  }

  .description p, .check p {
    font-size: 16px;
  }

  .content-img {
    margin-top: 30px;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
  }

  .content-img a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content-img img {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
  }

  .check span {
    font-size: 1rem !important;
  }
}
