div {
    font-family: 'Rubik Regular', sans-serif
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    background: linear-gradient(to bottom, #a7a01cb0, rgba(255, 255, 255, 0.5) 25%);
    padding-top: 10px;
    font-family: 'Rubik Regular', sans-serif;
}

.content-text {
    margin-left: 5%;
    margin-right: 5%;
}

.titulo {
    font-size: 28px;
    font-family: 'Rubik Regular', sans-serif;
    color: #616c10;
    margin-bottom: 5%;
}


.titulo p {
    color: #717637;
}

@media screen and (max-width: 600px) {
    .titulo {
        font-size: 12px;
    }

    .description {
        font-size: 10px;
    }

    .subtitle {
        font-size: 12px;
        margin-bottom: -10px;
    }
}