input,
select,
textarea {
  border-radius: 0;
  margin-bottom: 4%;
  margin-top: 2%;
  height: 55px;
  border: none;
  font-size: 20px;
  color: black;
}

div {
  font-size: 23px;
  font-family: 'Rubik Regular', sans-serif;
  color: #464b0e;
}

.formulario {
  background-color: #e8e8d6;
  border: 2px solid #61663d;
  border-radius: 0 40px 0 0;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

select {
  font-family: 'Rubik Regular', sans-serif;
}

input#diaNacimiento,
input#mesNacimiento {
  width: 23%;
  margin-right: 2%;
}

input#anioNacimiento {
  width: 50%;
}

#diagnostico {
  height: 130px;
}

.submit-button {
  background-color: #b5ae29;
  color: white;
  font-size: 15px;
  padding: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  width: 21%;
}

#diagnostico, input#nombre{
    margin-bottom: 2%;
    margin-top: 1%

}

@media screen and (max-width: 600px) {
  .submit-button {
    font-size: 12px;
    padding: 12px;
    margin-top: 0px;
    width: 55%;
  }

  .responsive {
    flex-wrap: wrap;
    gap: 0 !important;
  }
  div{
    font-size: 18px;
  }
}