  /* Formulario Bloque */
  .formulario {
    background-color: #e8e8d6;
    border: 2px solid #61663d;
    padding: 20px;
    border-radius: 0 40px 0 0;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 4%;
  }

  .formulario label {
    display: block;
    margin-bottom: 10px;
    color: #464b0e;
  }

  /* Estilos para cada fila de inputs */
  .formulario .box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .formulario .form-text {
    font-size: 22px;
    font-family: 'Rubik Regular', sans-serif;
    color: #464b0e;
    margin-right: 20px;
    white-space: nowrap;
  }

  .formulario .input-principal {
    width: 880px; 
    padding: 8px;
    border-radius: 0;
    box-sizing: border-box;
    height: 55px;
    border: none;
  }

  /*Input secundario*/

  .formulario .dni-box {
    margin-left: 12.8%;
  }

  .formulario .pais-box {
    margin-left: 12.2%;
  }

  .formulario .prov-box {
    margin-left: 8%;
  }

  .formulario .localidad-box {
    margin-left: 7.7%;
  }

  .formulario .diag-box {
    margin-left: 5.9%;
  }

  .formulario .input-secundario {
    width: 350px;
    border-radius: 0;
    box-sizing: border-box;
    height: 55px;
    margin-right: 80px;
    border: none;
  }

  .formulario .pais-box .cel-box{
    margin-left: 7.8%;
  }

  .formulario .input-secundario-cel {
    width: 285px;
    border-radius: 0;
    box-sizing: border-box;
    height: 55px;
    border: 1px solid #464b0e;
    margin-right: 80px;
    border: none;
  }

  .formulario .prov-box .email-box{
    margin-left: 8.1%;
  }

  .formulario .input-secundario-email {
    width: 285px;
    border-radius: 0;
    box-sizing: border-box;
    height: 55px;
    border: 1px solid #464b0e;
    margin-right: 80px;
    border: none;
  }

  /*Input terciario*/

  .formulario .input-terciario {
    width: 80px;
    padding: 8px;
    border-radius: 0;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #464b0e;
    margin-right: 10px;
    border: none;
  }

  .formulario .input-terciario-anio {
    width: 107px;
    padding: 8px;
    border-radius: 0;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #464b0e;
    margin-right: 10px;
    border: none;
  }

  /*Boton*/

  .formulario .submit-button {
    background-color: #b5ae29;
    color: white;
    font-size: 15px;
    padding: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    width: 60%;
  }

  .formulario .box-button{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
  }

  @media screen and (max-width: 600px) {

    .formulario {
      border-radius: 0 30px 0 0;
      padding: 15px;
    }

    /* Estilos para cada fila de inputs */
    .formulario .box {
      margin-bottom: 5px;
    }
  
    .formulario .form-text {
      font-size: 10px;
      margin-right: 5px;
    }
  
    .formulario .input-principal {
      width: 200px;
      height: 20px;
      font-size: 9px;
    }
  
    /*Input secundario*/
  
    .formulario .dni-box {
      margin-left: 22%;
    }
  
    .formulario .pais-box {
      margin-left: 21%;
    }
  
    .formulario .prov-box {
      margin-left: 13.8%;
    }
  
    .formulario .localidad-box {
      margin-left: 13.4%;
    }
  
    .formulario .diag-box {
      margin-left: 10%;
    }
  
    .formulario .input-secundario {
      width: 50px;
      font-size: 9px;
      height: 20px;
      margin-right: 10px;
    }
  
    .formulario .pais-box .cel-box{
      margin-left: 14.6%;
    }
  
    .formulario .input-secundario-cel {
      width: 70px;
      height: 20px;
      font-size: 9px;
    }
  
    .formulario .prov-box .email-box{
      margin-left: 14.8%;
    }
  
    .formulario .input-secundario-email {
      width: 69.6px;
      height: 20px;
      font-size: 9px;
    }
  
    /*Input terciario*/
  
    .formulario .input-terciario {
      width: 20px;
      height: 25px;
      margin-right: 1.5px;
      margin-left: 0.5px;
      font-size: 9px;
    }
  
    .formulario .input-terciario-anio {
      width: 25px;
      height: 25px;
      font-size: 9px;
      margin-right: 0px;
      margin-left: 1px;
    }
  
    /*Boton*/
  
    .formulario .submit-button {
      font-size: 8px;
      padding: 10px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      margin-top: 20px;
    }
    
  }
