  span {
    font-size: 23px;
  }

  /* Formulario Bloque */
  .formulario {
    background-color: #e8e8d6;
    border: 2px solid #61663d;
    padding: 20px;
    border-radius: 0 40px 0 0;
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 4%;
  }

  .formulario label {
    display: block;
    margin-bottom: 10px;
    color: #464b0e;
  }

  /* Estilos para cada fila de inputs */

  .formulario .form-text {
    font-size: 23px;
    font-family: 'Rubik Regular', sans-serif;
    color: #464b0e;
    margin-right: 20px;
    white-space: nowrap;
  }

  .formulario .input-principal {
    width: 885px;
    padding: 8px;
    font-size: 20px;
    border-radius: 0;
    box-sizing: border-box;
    height: 55px;
    border: none;
  }

  /*Input secundario*/

  .formulario .input-secundario {
    width: 350px;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 20px;
    height: 55px;
    margin-right: 80px;
    border: none;
  }


  .formulario .input-secundario-cel {
    width: 285px;
    border-radius: 0;
    box-sizing: border-box;
    height: 55px;
    border: 1px solid #464b0e;
    margin-right: 80px;
    font-size: 20px;
    border: none;
  }

  .formulario .prov-box .email-box {
    margin-left: 8.1%;
  }

  .formulario .input-secundario-email {
    width: 285px;
    border-radius: 0;
    font-size: 20px;
    box-sizing: border-box;
    height: 55px;
    border: 1px solid #464b0e;
    margin-right: 80px;
    border: none;
  }

  /*Input terciario*/

  .formulario .input-terciario {
    width: 78px;
    padding: 8px;
    border-radius: 0;
    font-size: 20px;
    box-sizing: border-box;
    height: 50px;
    margin-right: 10px;
    border: none;
  }

  .formulario .input-terciario-anio {
    width: 110px;
    padding: 8px;
    border-radius: 0;
    box-sizing: border-box;
    height: 50px;
    border: none;
    font-size: 20px;
  }

  .margen {
    margin-right: 160px;
  }

  .fecha {
    margin-right: 80px;
  }

  /*Boton*/

  .formulario .submit-button {
    background-color: #b5ae29;
    color: white;
    font-size: 15px;
    padding: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    width: 60%;
  }

  .formulario .box-button {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
  }

  @media screen and (max-width: 600px) {

    .hide-on-mobile {
      display: none;
  }

    .inputs {
      flex-direction: column !important;
    }

    .form-text {
      margin-bottom: 10px;
    }

    .input-secundario,
    .input-secundario-cel,
    .input-secundario-email {
      margin-right: 0;
    }

    .filas {
      flex-direction: column;
    }

    .formulario .input-principal {
      width: 100%;
    }

    .formulario .input-secundario,
    .formulario .input-secundario-email,
    .formulario .input-secundario-cel,
    .fecha {
      width: 296px;
      margin-right: 0;
      height: 40px;
    }

    .formulario .input-terciario,
    .formulario .input-terciario-anio {
      height: 40px;
      
    }

    .formulario .input-terciario-anio{
      margin-right: 12px;
    }

    .formulario .input-terciario{
      width: 83px;
    }

    .formulario .form-text {
      font-size: 13px;
      margin-right: 0;
    }

    select {
      font-family: 'Rubik Regular', sans-serif;
      font-size: small;
    }
  }