div {
    font-family: 'Rubik Regular', sans-serif
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    background: linear-gradient(to bottom, rgba(158, 174, 38, 0.316), rgba(255, 255, 255, 0.5) 25%);
    padding-top: 40px;
    font-family: 'Rubik Regular', sans-serif;
}

.content-text {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.titulo {
    font-size: 28px;
    font-family: 'Rubik Regular', sans-serif;
    margin-top: 40px;
    color: #666c28;
}

.description {
    font-size: 22px;
}

.subtitulo p {
    font-size: 20px;
    color: #797979;
    margin: 0;
}

.subtitulo img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.subtitulo {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#principal{
    margin-bottom: 5%;
}

@media screen and (max-width: 600px) {



    .titulo {
        font-size: 15px;
        margin-bottom: -0.5px;
    }

    .subtitulo {
        font-size: 10px;
    }


    .subtitulo p {
        font-size: 14px;
    }

    .subtitulo img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }


}