<div class="conteiner">
  <app-title-card title="STAFF PROFESIONAL" [titleFontSize]="45" [titleFontSizeScreen]="20"
                  imageUrl="assets/images/bg-staff.jpg" objectPosition="50% 20%"></app-title-card>

  <div class="content">
    <div class="flex container">
      <div class="content-text first-text">
        <p class="titulo">Somos un equipo de profesionales interdisciplinario, que trabaja comprometidamente y
          en conjunto para la atención de pacientes oncológicos.</p>
      </div>
    </div>

    <div class="staff-grid">
      <div class="column">
        <img src="assets/images/staff_sar.png" alt="Staff Image 1">
        <p class="subtitle">DIRECCIÓN MÉDICA</p>
        <p class="nombre">Dr. Jorge A. Sar</p>
        <p class="descripcion">Especialista en Oncología<br>
          Clínica y Radioterapia<br>
          Oncológica</p>
        <p class="cv cursor-pointer">> VER CV</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <img src="assets/images/staff_heinrich.png" alt="Staff Image 2">
        <p class="subtitle">SERVICIO DE RADIOTERAPIA</p>
        <p class="nombre">Dr. Gerardo Heinrich</p>
        <p class="descripcion">Especialista en<br>
          Radioterapia Oncológica</p>
        <p class="cv cursor-pointer">> VER CV</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <img src="assets/images/staff_gil.png" alt="Staff Image 3">
        <p class="subtitle">SERVICIO DE RADIOTERAPIA</p>
        <p class="nombre">Dr. Andrés Gil</p>
        <p class="descripcion">Especialista en<br>
          Radioterapia Oncológica</p>
        <p class="cv cursor-pointer">> VER CV</p>
        <p class="p-divider"></p>
      </div>

      <div class="column">
        <p class="subtitle">SERVICIO DE RADIOTERAPIA</p>
        <p class="nombre">Dra. María Jimena Albert</p>
        <p class="descripcion">Especialista en<br>
          Radioterapia Oncológica</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">DIAGNÓSTICO POR IMAGEN</p>
        <p class="nombre">Dra. Patricia Zeballos</p>
        <p class="descripcion">Médica especialista en<br>Diagnóstico por Imágenes</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">PSICOLOGÍA</p>
        <p class="nombre">Lic. Juan Pablo Montanelli</p>
        <p class="descripcion">Lic. en Psicología<br>
          Instructor de Mindfulness</p>
        <p class="cv cursor-pointer">> VER CV</p>
        <p class="p-divider"></p>
      </div>

      <div class="column">
        <p class="subtitle">FÍSICA MÉDICA</p>
        <p class="nombre">Mg. Joseph Simon</p>
        <p class="descripcion">Magister en Física<br>Médica</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">FÍSICA MÉDICA</p>
        <p class="nombre">Lic. Maximiliano Gallo</p>
        <p class="descripcion">Especialista en Dosimetría y<br>
          Producción de Bio-Imágenes</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">FÍSICA MÉDICA</p>
        <p class="nombre">Ing. Sofía Sabadías</p>
        <p class="descripcion">Ingeniera<br>Biomédica</p>
        <p class="p-divider"></p>
      </div>

      <div class="column">
        <p class="subtitle">PRODUCCIÓN DE BIO-IMÁGENES</p>
        <p class="nombre">Lic. Ana Paula Bruno</p>
        <p class="descripcion">Producción de<br>
          Bio-Imágenes</p>
        <p class="cv cursor-pointer"></p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">PRODUCCIÓN DE BIO-IMÁGENES</p>
        <p class="nombre">Lic. Javier A. Schusselin</p>
        <p class="descripcion">Producción de Bio-Imágenes</p>
        <p class="cv cursor-pointer"></p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">PRODUCCIÓN DE BIO-IMÁGENES</p>
        <p class="nombre">Lic. María Marcela Valero</p>
        <p class="descripcion">Producción de Bio-Imágenes</p>
        <p class="p-divider"></p>
      </div>

      <div class="column">
        <p class="subtitle">PRODUCCIÓN DE BIO-IMÁGENES</p>
        <p class="nombre">Lic. Natalia Inés Palacios</p>
        <p class="descripcion">Producción de Bio-Imágenes</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">PRODUCCIÓN DE BIO-IMÁGENES</p>
        <p class="nombre">Lic. Lourdes Argüello</p>
        <p class="descripcion">Producción de Bio-Imágenes</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">PRODUCCIÓN DE BIO-IMÁGENES</p>
        <p class="nombre">Tec. Agustina Brugna</p>
        <p class="descripcion">Técnica Radióloga</p>
        <p class="p-divider"></p>
      </div>

      <div class="column">
        <p class="subtitle">ENFERMERÍA</p>
        <p class="nombre">Andrea Albornoz</p>
        <p class="descripcion">Enfermera</p>
        <p class="p-divider"></p>
      </div>
      <div class="column">
        <p class="subtitle">ENFERMERÍA</p>
        <p class="nombre">Lucía Peres</p>
        <p class="descripcion">Enfermera</p>
        <p class="p-divider"></p>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
