div {
    font-family: 'Rubik Regular', sans-serif;
}

.titulo {
    font-size: 28px;
    font-family: 'Rubik Regular', sans-serif;
    color:  #585f12;
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    background: linear-gradient(to bottom, rgba(158, 174, 38, 0.502), rgba(255, 255, 255, 0.5) 15%);
    font-family: 'Rubik Regular', sans-serif;

}

.content-text {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 44%;
}

.subtitle{
    font-size: 1.2rem;
    text-align: left;
}

.descripcion {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 8% !important;
}

.nombre {
    font-size: 1.3rem;
    font-weight: bold;
    font-weight: 800;
    text-align: left;
}

.cv {
    font-size: 0.9rem;
    font-weight: bold;
    font-weight: 800;
    color: #9eab19;
    margin-bottom: 3% !important;
    text-align: left;
}

.staff-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 5%;
    margin-bottom: 12%;
    
}

.column {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box; 
}

.column img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 10px;
}

.column p, .column a {
    margin: 5px 0;
    text-align: left;
}

.p-divider {
    border-top: 2px solid #ddd;
    width: 70%;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .content-text {
        margin-top: 0%;
        margin-right: 20%;
    }
    .content {
        background: linear-gradient(to bottom, rgba(158, 174, 38, 0.365), rgba(255, 255, 255, 0.7) 5%);
        padding-top: 0px;
    }
    .hide-on-mobile {
        display: none;
    }

    .titulo {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .descripcion {
        font-size: 13px;
        margin-bottom: 3% !important;        
        text-align: left;
    }

    .staff-grid {
        grid-template-columns: 1fr; 
        grid-auto-rows: auto;
        gap: 20px;
        justify-items: left; 
        align-items: left;
        margin-left: 35%;
        
    }
    
    .column {
        margin-top: 0; 
        width: 100%; 
        flex-direction: column;
        align-items: left; 
        text-align: left !important;
    }

    
    .subtitle{
        font-size: 14px;
        text-align: left !important;
    }


    .nombre {
        font-size: 12px;
        text-align: left;
    }

    .cv {
        font-size: 10px;
        margin-bottom: 3% !important;
    }

    .column img {
        max-width: 200px;
    }



    .p-divider {
        width: 40%;
    }

}
