.fondo{
    object-fit: cover;
    z-index: -1;
    width: 100%;
}
.main-content {
    margin: -1%;
    margin-top: 1%;
}
@media screen and (max-width: 600px) {

    .main-content {
        margin: -2.3%;
        margin-top: 2.3%;
    }
}