.background-image {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../../../assets/images/CPR-primer-Turno.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 105vh;
}

.header{
  padding-top: 10%;
  padding-left: 17%;
  margin-bottom: 3%;
}

p{
  color: white;
  margin-bottom:1%;
  font-size: 1rem;
}

.header-title{
  font-size: 2rem;
}
.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cards */
  gap: 45px; /* Espacio uniforme entre cards */
  padding: 0 5%;
  margin-top: 20px;
}
.shift-card {
  width: 25%; /* Ancho similar al de la imagen */
  min-width: 280px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 0 20px 0 0; /* Solo esquina superior derecha redondeada */
  overflow: hidden;
  transition: transform 0.3s ease;
  background: white;
}

.shift-card:hover {
  transform: translateY(-10px);
}

.image-container {
  height: 200px; /* Ajusta la altura de la imagen */
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 20px;
  flex-grow: 1; /* Hace que todas las cajas midan lo mismo de alto */
  color: white;
  font-family: 'Rubik', sans-serif;
}

.category {
  font-size: 1rem;
  opacity: 0.9;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title {
  font-size: 1.5rem;
  color : white;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}


/* --- RESPONSIVE --- */

@media screen and (max-width: 1024px) {
  .shift-card {
    width: 45%; /* 2 cards por fila en tablets */
  }
}

@media screen and (max-width: 650px) {
  .shift-card {
    width: 90%; /* 1 card por fila en celulares */
    border-radius: 0 30px 0 0;
  }

  .header-title {
    margin-top: 15%;
    font-size: 1.7rem !important
  }

  .background-image {
    height: auto;
  }

  .title {
    font-size: 1.2rem;
  }

  .image-container {
    height: 100px;
  }

  .banners {
    padding-bottom: 50px;
  }

  br {
    display: none;
  }
}
