<div class="background-image sinEspacio">

    <app-title-card
        title="TURNOS"
        [titleFontSize]="45"
        [titleFontSizeScreen]="20"
        subtitle="Para una atención más ágil y específica, nuestro Centro le ofrece distintos canales de
        comunicación para obtener turnos con nuestros profesionales o evacuar dudas acerca
        de los tratamientos."
        [height]="350"
    ></app-title-card>

    <div class="banners">

        <a routerLink="/shifts-start-radiotherapy" class="shift-card shadow-6">
            <div class="content" style="background-color: #919747;">
                <h3 class="ml-3 m-0 text-white title">Primer turno</h3>
            </div>
            <img src="assets/images/CPR-primer-Turno.jpg" alt="article-cover" />
        </a>

        <a routerLink="/shifts-psychology" class="shift-card shadow-6">
            <div class="content" style="background-color: #a7a11c;">
                <h3 class="ml-3 m-0 text-white title">Psicología</h3>
            </div>
            <img src="assets/images/CPR_psico-oncologia.jpg" alt="article-cover" />
        </a>
        
        <a routerLink="/shifts-diagnosis-by-imaging" class="shift-card shadow-6">
            <div class="content" style="background-color: #d78a00;">
                <h3 class="ml-3 m-0 text-white title">Diagnóstico por imágenes</h3>
            </div>
            <img src="assets/images/bg-diagnostico.jpg" alt="article-cover" />
        </a>

    </div>

</div>
