.background-image {
    background-image: url('../../../../assets/images/CPR_turnos.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Cubrir toda el área */
    background-position: center; /* Centrar la imagen */
    width: 100%; /* Ocupar todo el ancho de la pantalla */
    height: 100vh;
}

/*TITULO*/

.card-color {
    background-color: #61663db1!important;
}

.article-card {
    width: 100%;
    height: 500px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.article-card .content {
    margin-bottom: 150px;
    box-sizing: border-box;
    width: 50%;
    border-radius: 0 40px 0 0;
    position: absolute;
    height: 40%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left; 
}

.content .text{
    margin-left: 7%;
    margin-right: 7%;
}

.article-card .title {
    margin: 0;
    font-size: 40px;
}

.article-card .subtitle {
    margin: 0;
    font-size: 18px;
    text-align: left;
}

.title {
    font-family: 'Rubik Light';
    font-weight: 500;
    font-size: x-large;
}

/*cards*/

.shift-card {
    margin-top: -60px;
    width: 30%;
    height: 250px;
    border-radius: 0 40px 0 0;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 300ms;
}

.shift-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shift-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shift-card .content {
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    position: absolute;
    padding: 10px 10px 10px 10px;
    bottom: 0;

}

.shift-card .title {
    font-size: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media screen and (max-width: 600px) {

    .shift-card {
        width: 85%;
        height: 15vh;
        margin-bottom: 15%;
    }

    .shift-card .title {
        font-size: 12px;
    }

    .shift-card .content{
        height: 25%;
    }

    .article-card {
        width: 100%;
        height: 150px;
        margin-bottom: 15%;
    }

    .article-card .title {
        font-size: 15px;
    }

    .article-card .subtitle {
        font-size: 8px;
    }

    .article-card .content {
        margin-bottom: 20px;
        border-radius: 0 30px 0 0;
        height: 50%;
        width: 85%;
    }

    .content .text{
        margin-left: 9%;
        margin-right: 10%;
    }


}