<div class="flex flex-wrap justify-content-center">
    <div class="article-card">
        <div class="content" style="background-color:rgba(215, 138, 0, 0.6);">
            <div class="p-d-flex p-flex-column p-align-start">
                <h3 class="m-2 text-white title font-bold ">TURNOS</h3>
                <div class="subtitle m-2 text-white"> Para una atención más ágil y específica, nuestro Centro le ofrece distintos canales de
                    comunicación para obtener turnos con nuestros profesionales o evacuar dudas acerca
                    de los tratamientos.
                     </div>
            </div>
        </div>
        <img src="..\assets\images\CPR_turnos.jpg" alt="article-cover" />
    </div>
</div>

