.fondoHeaderHome {
  background-color: #0009;
  padding: 1%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.espacio {
  padding-top: 120px;
  padding-bottom: 5%;
}

::ng-deep #turnosButton .p-button-label {
  font-size: 16px !important;
}

.fondoHeader {
  background-color: #333333;
  padding: 1%;
  margin: -8px;
}

.logoHeader {
  width: 35%;
  margin: -15px;
}

.logo {
  width: 14%;
}

.x {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1002;
}

.align {
  margin-left: 5%;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  font-family: 'Rubik Light', sans-serif;
  font-size: 20px;
  width: 50%;
  z-index: 1001;
  background-color: #333333d6;
  height: 100vh;
  animation: fadeIn 0.5s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.nav ul {
  overflow: visible !important;
  height: auto;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: larger;
}

.pi:hover,
a:hover {
  color: #919747;
}

li {
  margin-top: 5px;
  list-style-type: none;
  animation: fadeIn 0.5s ease;
}

li.ng-leave {
  animation: fadeOut 0.5s ease;
}

.pi {
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s;
  transition: transform 0.3s ease;
}

::ng-deep #menu .p-button:focus {
  box-shadow: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

ul {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 998;
}

.isologo {
  width: 14px;
  height: auto;
}

@media screen and (max-width: 600px) {

  ::ng-deep #turnosButton .p-button-label {
    font-size: 12px !important;
    padding: 1px;
  }

  .logo {
    width: 30%;
  }

  .nav {
    width: 100%;
    height: 100vh;
    justify-content: flex-start !important;
    padding-top: 60px;
  }

  .x {
    top: 15px;
    right: 15px;
  }

  li {
    margin-top: 20px;
  }

  a {
    font-size: 21px;
  }

  .texto {
    font-size: 9px;
    margin-right: 10px;
  }

  ::ng-deep .p-button {
    padding: 8px !important;
  }
}
