.menu {
    background-color: black;
}

.p-sidebar .p-sidebar-content{
    background: black;
}

.menu-button-icon{
    font-size: 4rem;
    color: white;
}

.white-icon {
    color: white !important; /* Establece el color del icono como blanco */
}
.fondoHeaderHome {
    background-color: #0009;
    padding: 1%;
    margin: -8px;
}
.fondoHeader{
    background-color: #333333;
    padding: 1%;
    margin: -8px;
}
.logo {
    width: 14%;
}
@media screen and (max-width: 600px) {
.fondoHeaderHome, .fondoHeader {
        margin: -2.3%;
    }
        .logo {
            width: 30%;
        }
}
