<div class="ml-5 mr-5 mt-3 mb-4 flex justify-content-between flex-wrap">
    
    <div class="card flex">
        <p-sidebar class="menu font-rubik" [(visible)]="sidebarVisible">
            <div class=" flex justify-content-center">
                <p-panelMenu  [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
            </div>         
        </p-sidebar>

        <p-button (click)="sidebarVisible = true" size="large" class="menu-button" icon="pi pi-bars"  [style]="{'color':'white'}" [rounded]="true" [text]="true">
        </p-button>
    </div>

    <div class="flex">
        <p-button label="Turnos" [rounded]="true"></p-button>
    </div>

</div>