<div class="conteiner">
    <app-title-card
        title="DIAGNÓSTICO POR IMÁGENES"
        [titleFontSize]="50"
        [titleFontSizeScreen]="20"
        imageUrl="..\assets\images\CPR_tomografia1.jpg"
        subtitle="Nuestro Centro ofrece el servicio de Diagnóstico por Imágenes tanto para pacientes
        del Centro, como para particulares."
        color= "rgba(215, 138, 0, 0.6)"
    ></app-title-card>

    <div class="content">
        <div class="content-text">
            <div class="titulo">
                <p> Equipamiento de última generación para realizar Tomografías de diagnótico.</p>
            </div>

            <div class="description">
                <p>El Centro cuenta con un tomógrafo <strong>SOMATOM go.Now</strong> para Diagnóstico con Imágenes de forma simple y efectiva.</p>

                <div>
                    <div class="flex align-items-center check">
                        <span class="pi pi-angle-right" style="color: rgb(97, 102, 61)"></span> 
                        <p><strong>Brinda imágenes de alta calidad con cortes multislice.</strong></p>
                    </div>

                    <div class="flex align-items-center check">
                        <span class="pi pi-angle-right" style="color: rgb(97, 102, 61)"></span> 
                        <p><strong>Cuenta con CARE i-Tilt para la protección de órganos sensibles.</strong></p>
                    </div>

                    <div class="flex align-items-center check">
                        <span class="pi pi-angle-right" style="color: rgb(97, 102, 61)"></span> 
                        <p><strong>Modula el amperaje y voltaje para cada ancho de corte, lo que significa menor dosis para el paciente.</strong></p>
                    </div>
    
                </div>

                <p>Sus múltiples receptores ofrecen una mejor resolución y definen mejor el contorno de los
                    órganos. Brinda cortes submilimétricos en todo el ancho del detector lo que permite imágenes
                    ideales para tratamientos de <strong>radiocirugía y radioterapia</strong>, así como también para <strong>escaneos de
                    rutina, angiografías, exámenes neurológicos</strong> y de <strong>estructuras óseas</strong> hasta las más
                    pequeñas como las del oído interno. 
                </p>
            </div>
        </div>
    </div>
    <div class="content-img">
        <img src="..\assets\images\CPR_equipamiento5.jpg"/>
        <img src="..\assets\images\CPR_tomografo2.jpg"/>
    </div>

</div>
