div {
    font-family: 'Rubik Regular', sans-serif;
}

.titulo {
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    color: #919747;
    margin-top: 40px;
}

.container {
    height: 100%;
    width: 100%;
}   

.content {
    background: linear-gradient(to bottom, rgba(137, 151, 33, 0.466), rgba(255, 255, 255, 0.5) 25%);
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;
}

.content-text {
    margin-top: 2%;
    margin-left: 5%;
}

.description p {
    font-size: 22px;
}

.description span {
    font-size: 1.5rem;
}

.description strong {
    font-weight: bold;
    font-weight: 800;
}

.content-img {
    margin-top: 3.5%;
    margin-left: 5%;
    align-items: center;
}

.content-img img {
    margin-top: 4%;
    width: 380px;
    height: 250px;
    margin-right: 80px;
    object-fit: cover;
    border-radius: 0 40px 0 0;
}

.checks{
    width: 60%;
    margin-top: -12%;
    margin-bottom: 12%;
}

.check {
    margin-top: -20px;
    margin-bottom: -20px;
}

.check span{
    margin-right: 15px;
}


@media screen and (max-width: 600px) {

    .titulo{
        margin-top: 15px;
        font-size: 15px;
    }

    .description p {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
    }

    .content-text{
        margin-right: 5%;
        margin-top: 0px;
    }

    .content-img {
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        margin-top: 0px;
    }

    .content-img img {
        margin-top: 0px;    
        width: 48%;
        height: 130px;
        object-fit: cover;
        border-radius: 0 40px 0 0;
        margin-right: 0px;
    }

    .content-img img:first-child {
        margin-right: 10px;
        margin-bottom: 0%;
    }

    .checks{
        margin-top: 10px;
        width: 100%;
        margin-bottom: 20%;
    }

    
}
