<app-title-card title="EQUIPAMIENTO <br>PRINCIPAL" [titleFontSize]="35" [titleFontSizeScreen]="15"
    imageUrl="..\assets\images\CPR-equipamiento-hero_VARIAN.jpg"></app-title-card>

<div class="content mb-8 h-full">
    <div class="content-text">
        <div>
            <p class="titulo"> Innovación y tecnología <br>
            al servicio de la salud </p>
            <p class="mt-4 mb-6">
                Presentamos a continuación los principales equipos con los que cuenta el <br>
                Centro, en su plan de evolución continua y excelencia.
            </p>
        </div>


    </div>
</div>