<app-title-card title="EQUIPAMIENTO <br>PRINCIPAL" [titleFontSize]="35" [titleFontSizeScreen]="15"
    imageUrl="assets/images/CPR-equipamiento-hero_VARIAN.jpg"></app-title-card>

<div class="content mb-6 h-full">
    <div class="content-text">
        <div>
            <p class="titulo"> Innovación y tecnología <br>
                al servicio de la salud </p>
            <p class="mt-4 ">
                Presentamos a continuación los principales equipos con los que cuenta el <br>
                Centro, en su plan de evolución continua y excelencia.
            </p>
        </div>
    </div>
</div>
<div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo"> Saginova para Braquiterapia HDR </p>
                <p>
                    Este equipo es un módulo robotizado, controlado por microprocesador, que
                    contiene una fuente radioactiva de cobalto de 5.26 años de vida media. La
                    fuente se carga con una actividad de 10 Ci, altamente superior a la utilizada en
                    la técnica de baja tasa con Cesio. Esto hace que los implantes tengan una
                    <strong> duración de entre 15 a 30 minutos</strong>, gracias a lo cual el tratamiento
                    <strong>es ambulatorio.</strong>
                    <br /><br />
                    La fuente radioactiva viaja comandada por el microprocesador por los 18
                    canales que provee el aparato viajando por los catéteres insertados quirúrgicamente en el paciente,
                    donde llegarán a su
                    posición planificada para la entrega
                    de la dosis.
                    <br /><br />
                    Nuestro Centro cuenta con 2 aceleradores lineales que al ser compatibles entre si,
                    se minimiza el riesgo de suspensión del tratamiento en caso de que uno de ellos
                    se someta a service, asegurando a los pacientes la continuidad del plan
                    terapéutico sin interrupciones, lo que es fundamental para la eficacia del mismo.
                </p>
            </div>
            <div class="flex justify-content-center align-items-center">
                <img src="assets/equipment/CPR_saginova.png" alt="">
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
</div>
<div>
    <div class="mb-4 h-5 flex justify-content-between ">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo">Acelerador Lineal Varian 2100</p>
                <p>
                    Características técnicas principales: <br>
                </p>
                    <ul>
                        <li>Dos energías seleccionables de fotones: 6 y 15 Mv.</li>
                        <li>Tasa de dosis seleccionable hasta 600MU/min.</li>
                        <li>
                            Elección de la energía de los electrones para satisfacer las necesidades
                            clínicas: 6, 9, 12, 16 y 20 MeV, con aplicadores de electrones incluidos.
                        </li>
                        <li>Precisa alineación de isocentro, del colimador, camilla.</li>
                        <li>Máquina reproducible, estable y precisa de posicionamiento.</li>
                        <li>
                            Camilla exact-couch® de fibra de carbono para un posicionamiento preciso y
                            reproducible del paciente más telecomando programable.
                        </li>
                        <li>Doble colimador asimétrico.</li>
                        <li>Colimador multiláminas (MLC).</li>
                        <li>Automatic Frecuency Control (AFC).</li>
                    </ul>
            </div>
            <div class="flex justify-content-center align-items-center">
                <img src="assets/equipment/CPR-equipamiento-VARIAN.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
</div>
<div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo">Acelerador Lineal Varian 600</p>
                <p>
                    Características: <br>
                </p>
                    <ul>
                        <li>Dos energías seleccionables de fotones: 6 y 15 Mv.</li>
                        <li>Tasa de dosis seleccionable hasta 600MU/min.</li>
                        <li>Elección de la energía de los electrones para satisfacer las necesidades clínicas: 6, 9, 12, 16 y 20 MeV, con
                            aplicadores de electrones incluidos.</li>
                        <li>Precisa alineación de isocentro, del colimador, camilla.</li>
                        <li>Máquina reproducible, estable y precisa de posicionamiento.</li>
                        <li>Camilla exact-couch® de fibra de carbono para un posicionamiento preciso y reproducible del paciente más
                            telecomando programable.</li>
                        <li>Doble colimador asimétrico.</li>
                        <li>Colimador multiláminas (MLC).</li>
                        <li>Automatic Frecuency Control (AFC).</li>
                    </ul>
            </div>
            <div class="flex justify-content-center align-items-center">
                <img src="assets/equipment/CPR-equipamiento-VARIAN600.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
</div>
<div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo">Micromultiláminas M3 – Brainlab</p>
                <p>
                    El M3 micro-MLC es un proyecto entre BrainLAB GmbH, Germany y Varian INC,
                    USA. Para radioterapia externa y radiocirugía cerebral y corporal. Es un dispositivo montable sobre
                    los rieles a la
                    salida del haz de aceleradores Varian, y conectado al cabezal del gantry, comunicándose a una
                    computadora de control
                    localizada fuera del bunker mediante cables de fibra óptica.
                    <br /><br />
                    M3 está compuesto por 26 pares de láminas de tunsgteno de ancho variable.
                    Los 6 pares centrales (en el isocentro) tienen un ancho de 3 mm, los 5 siguientes 4.5 mm y las
                    láminas exteriores
                    tienen un ancho de 6 mm. El máximo
                    tamaño cuadrado de campo es 10.2×10 definido en el isocentro. Estas características hacen al M3 un
                    dispositivo ideado
                    específicamente par radiocirugía
                    <br /><br />
                    Tratamiento de radiocirugía de alta precisión
                    <br /><br />
                    El M3 es un dispositivo de micromultiláminas diseñado para radioterapia externa y
                    radiocirugía cerebral y corporal. Gracias a su tecnología de vanguardia, permite tratar
                    lesiones muy pequeñas, submilimétricas, con una precisión y eficacia sin precedentes
                    <br /><br />
                    Características clave: </p>
                    <ul>
                    <li> 26 pares de láminas de tungsteno de ancho variable </li>
                    <li> Ancho de láminas centrales de 3 mm para una mayor precisión</li>
                    <li> Tamaño máximo de campo cuadrado de 10.2 x 10 cm</li>
                    <li> Capacidad para tratar lesiones submilimétricas con precisión y eficacia</li>
                    </ul>
                    <p>
                    Con el M3, podemos ofrecer tratamientos de radiocirugía personalizados y de alta
                    precisión para nuestros pacientes, incluso para aquellos con lesiones muy pequeñas
                    y complejas.
                </p>
            </div>
            <div class="flex justify-content-center align-items-center">
                <img src="assets/equipment/CPR-equipamiento-M3.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
</div>
<div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo">Sistema de IGRT Exactrac + Camilla Robótica 6D</p>
                <p>
                    El sistema ExacTrac de radioterapia guiada por imágenes ofrece precisión
                    submilimétrica en tratamientos de radioterapia y radiocirugía. ExacTrac® es un
                    sistema de monitorización basado en rayos X que se instala en la sala de tratamiento y que es capaz
                    de detectar
                    movimientos intrafracción del tumor durante la irradiación, independientemente del ángulo del
                    gantry o de la mesa.
                    <br /><br />
                    En tanto, la camilla robótica se puede corregir en 6 grados de libertad, tanto
                    espaciales como angulares. El iBEAM® evo Couchtop está en sinergia con
                    técnicas modernas de radioterapia, como IMRT e IGRT. Su exclusivo diseño de
                    fibra de carbono homogéneo no contiene metal en el área de trabajo y ofrece
                    una radiotranslucidez mejorada con una atenuación minimizada distribuída en
                    el rango de ángulos de entrada del haz, lo que brinda la solución perfecta para
                    los tratamientos.
                </p>
            </div>
            <div class="flex justify-content-center align-items-center">
                <img src="assets/equipment/CPR-equipamiento-IGRT.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
</div>
<div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo">Tomógrafo CT Somatom go.Now</p>
                <p>
                    Herramienta clave para la planificación de tratamientos de radioterapia y diagnóstico <br>
                    por imágenes.
                    <br /><br />
                    Nuestro Tomógrafo CT Somatom go.Now es una tecnología de vanguardia que se
                    utiliza para la planificación de tratamientos de radioterapia personalizados y precisos.
                    Además, también se utiliza para obtener imágenes detalladas y precisas para el diagnóstico
                    y seguimiento de enfermedades.
                </p>
                 <p>
                    Características: <br>
                </p>
                <ul>
                    <li>Cortes: 16 (32 with IVR)</li>
                    <li>Tiempos de rotación: 1.5 s, 1.0 s (opt. 0.8 s)</li>
                    <li>Tubo: 3.5 MHU (8.75 MHU)</li>
                    <li>Potencia: 2 kW (80 kW)</li>
                    <li>Alto voltaje: 80, 110, 130 kV</li>
                    <li>mA: 240 mA (opt. 400 mA) - 600 mA (opt. 1000 mA)</li>
                    <li>Cobertura Z: 1.1 cm (16 x 0.7 mm)</li>
                    <li>Máximo de carga en la camilla: 160 kg (227 kg opt.)</li>
                    <li>Reconstrucción iterativa: SAFIRE</li>
                </ul>
            </div>
            <div class="flex justify-content-center align-items-center">
                <img src="assets/equipment/CPR-equipamiento-SOMATOM.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content-text linea">
        <p-divider />
    </div>
</div>
<div>
    <div class="mb-4 h-5 flex justify-content-between">
        <div class="content-text flex flex-row justify-content-between">
            <div class="size">
                <p class="titulo">Octavius 4D – PTW</p>
                <p>
                    Es un sistema de verificación de dosis en 3D que nos permite planificar
                    y controlar la calidad de los tratamientos de radioterapia de manera precisa y eficiente,
                    garantizando la seguridad del paciente en todo momento.
                </p>
                <p>
                    Características: <br>
                </p>
                    <ul>
                        <li>Verificación de dosis en 3D con tecnología de detección de vanguardia</li>
                        <li>Equipo giratorio para una verdadera geometría isotrópica</li>
                        <li>Compatible con clínicas de 6, 9, 12, 16 y 20 MeV</li>
                        <li>Clínicas: 6, 9, 12, 16 y 20 MeV, con aplicadores de electrones incluidos</li>
                        <li>Verificación de tratamientos complejos, incluyendo haces no coplanarios y volúmenes
                            objetivo fuera del eje</li>
                        <li>Flujo de trabajo simplificado y proceso de puesta en marcha simple</li>
                    </ul>
                <p>Con Octavius 4D - PTW, podemos garantizar la precisión y eficacia de nuestros
                    tratamientos de radioterapia, y ofrecer a nuestros pacientes la mejor atención posible,
                    con la seguridad de que su tratamiento se ha planificado y controlado con la mayor precisión.</p>
            </div>
            <div class="flex justify-content-center align-items-center">
                <img src="assets/equipment/CPR-equipamiento-OCTAVIUS.jpg" alt="">
            </div>
        </div>
    </div>
</div>
