<div class="absolute top-0 left-0 w-full h-full z-0">
    <img class="showing background" src="../assets/slides/bg-hero1.jpg" alt="">
    <img class="background" src="../assets/slides/bg-hero3.jpg" alt="">
    <img class="background" src="../assets/slides/bg-hero4.jpg" alt="">
    <img class="background" src="../assets/slides/bg-hero5.jpg" alt="">
    <img class="background" src="../assets/slides/bg-hero6.jpg" alt="">
</div>
<div class="carousel-dots">
    <span *ngFor="let imagen of imagenes; let i = index" class="dot" [ngClass]="{'active-dot': i === imageIndex}"
        (click)="setActiveIndex(i)"></span>
</div>