<div class="conteiner">
    <app-title-card
        title="NOVEDADES"
        subtitle="Este es un espacio para mantenerlo al tanto de todo las novedades que
        suceden en nuestro Centro, como actividades, jornadas médicas, nuevos
        tratamientos, etc."
        [titleFontSize]="45"
        [titleFontSizeScreen]="20"
        imageUrl="../assets/images/CPR-hero-novedades.jpg"
        objectPosition="50% 35%"
    ></app-title-card>


    <div class="content">
    
        <div class="flex container" id="noticia1">
            <div class="content-text">
                <div>
                    <p class="titulo">Lanzamos un nuevo GRUPO DE DIFUSIÓN<br>
                        a través de Whatsapp para pacientes en<br>
                        tratamiento y familiares</p>
                </div>
    
                <div class="description">
                    <p>En este espacio el paciente o familiar encontrará información valiosa acerca
                        de temas vinculados a la salud, nutrición, ejercicios físicos, etc.</p>

                    <p>También tendrá información sobre Mindfulness, meditaciones cortas, música
                        y mucho más.</p>

                    <p>El objetivo de este espacio es que el paciente pueda contar con más herramientas relacionadas a su salud y emociones, para poder sobrellevar de
                        manera más positiva su proceso de cura.</p>
        
                </div>
            </div> 
            <div class="flex align-items-center justify-content-center">
                <div class="content-img img-1">
                    <img src="../assets/images/banner-home-news1.jpg"/>
                </div>
            </div>         
        </div>

        <p class="p-divider"></p>

        <div class="flex container" id="noticia2">
            <div class="content-text">
                <div>
                    <p class="titulo">Renovamos las instalaciones del Centro,<br> para brindarle mayor
                        comodidad durante<br>
                         su tratamiento</p>
                </div>
    
                <div class="description">
                    <p>Hemos desarrollado un gran proyecto de
                        renovación en nuestro Centro para modernizar
                        todas las instalaciones.</p>
    
                    <p>Optimizamos la circulación, renovamos los
                        espacios comunes, consultorios, área de
                        administración y fachada.</p> 

                    <p>Siempre procurando brindarle al paciente y sus
                        acompañantes el mejor servicio de atención y
                        comodidad, durante su tratamiento.</p>
                </div>
            </div> 
            <div class="flex align-items-center justify-content-center">
                <div class="content-img img-2">
                    <img src="../assets/images/banner-home-news2.jpg"  class="img-1"/>
                </div>
            </div>         
        </div>

        <p class="p-divider"></p>

        <div class="flex container" id="noticia3">
            <div class="content-text">
                <div>
                    <p class="titulo">Optimizamos nuestro sistema de Turnos<br>
                        para una mejor atención</p>
                </div>
    
                <div class="description">
                    <p>Nuestra oficina de Atención al Paciente y su sistema de Turnos es un espacio
                        generado para oficiar de nexo entre las distintas Áreas del Centro y nuestros
                        pacientes. </p>
    
                    <p>Tiene como objetivo fundamental detectar las necesidades de nuestros pacientes, brindando información, apoyo y acompañamiento, gestionando de
                        manera oportuna y con celeridad las solicitudes realizadas.</p> 

                    <p>Optimizamos nuestro sistema de Turnos para coordinar las consultas de pacientes de la ciudad de Rio Cuarto, 
                        asi como del resto del país y del extranjero. </p>
                </div>
            </div>   
     
        
            <div class="flex align-items-center justify-content-center">
                <div class="content-img img-3">
                    <img src="../assets/images/banner-home-news3.jpg" />
                </div>
            </div>
            
        </div>

        <p class="p-divider mb-6"></p>

        
    </div>
</div>


