.content {
    background: linear-gradient(to bottom, rgba(158, 174, 38, 0.502), rgba(255, 255, 255, 0.5) 15%);
    padding-top: 50px;
    font-family: 'Rubik', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
}   

.content-text {
    margin-left: 5%;
}


.description {
    font-size: 22px;
    font-weight: 600;
}


.block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
}

.block img{
    width: 30px; 
    height: 30px; 
    margin-right: 30px;
}

.block a {
    margin: 0;
    color: rgba(0, 0, 0, 0.773);
    text-decoration: none;
}

@media screen and (max-width: 600px) {

    .content {
        background: linear-gradient(to bottom, rgba(158, 174, 38, 0.365), rgba(255, 255, 255, 0.7) 5%);
        padding-top: 20px;
    }


    .hide-on-mobile {
        display: none;
    }

    .titulo {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .description {
        font-size: 10px;
    }

    .block {
        font-size: 9px;
        display: flex;
        margin-bottom: 10px;
    }
    
    .block img{
        width: 10px; 
        height: 10px; 
        margin-right: 10px;
    }
}
