<app-title-card
    title="RADIOTERAPIA"
    [titleFontSize]="50"
    [titleFontSizeScreen]="20"
    imageUrl="..\assets\images\banner-home1.png"
    subtitle="Nuestro Centro ofrece tratamientos para diversos tipos de patologías oncológicas
    con equipamiento y profesionales interdisciplinarios de excelencia, que están
    siempre a disposición para brindar el mejor proceso de cura al paciente"
 ></app-title-card>

<div class="container mb-8">
    <div class="content">
        <div class="content-text">
            <p class="titulo"> Estos son los tratamientos de Radioterapia<span class="hide-on-mobile"><br></span> que se realizan en nuestro Centro.</p>
            <div class="description">
                <div class="block flex flex-row" *ngFor="let treatment of treatments">
                    <img src="..\assets\images\isologo.png"/>
                    <a [routerLink]="treatment.link">{{treatment.name}}</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
