div {
    font-family: 'Rubik Regular', sans-serif
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    background: linear-gradient(to bottom, rgba(158, 174, 38, 0.316), rgba(255, 255, 255, 0.5) 25%);
    padding-top: 5%;
    font-family: 'Rubik Regular', sans-serif;

}

.content-text {
    margin-left: 5%;
    margin-right: 5%;
}

.description p {
    font-size: 22px;
    color: black;
    font-weight: 50;
}


.description strong {
    font-weight: bold;
    font-weight: 800;
}

.content-img {
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.img-container {
    text-align: left;
    margin-bottom: 30%;f
}

.img-caption {
    font-size: 18px;
    font-family: 'Rubik Regular', sans-serif;
}

.content-img img {
    width: 200px;
    height: 200px;
    margin-right: 80px;
    object-fit: cover;
    border-radius: 0 20px 0 0;
}

@media screen and (max-width: 600px) {
    .titulo {
        margin-top: 15px;
        font-size: 15px;
    }

    .description p {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
    }

    .content-text {
        margin-right: 5%;
        margin-top: 0px;
    }

    .content-img {
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        margin-top: 0px;
    }

    .content-img img {
        margin-top: 0px;
        width: 95%;
        height: auto;
    }

    /* Estilo para alinear las imágenes una al lado de la otra */
    .content-img {
        display: flex;
        justify-content: space-between;
    }

    .img-container {
        align-items: center;
        justify-content: center;
        width: 100%; /* Ajuste para que las imágenes ocupen el ancho disponible */
    }

    .img-caption {
        text-align: center;
        font-size: 12px;
    }
}
