<app-title-card
    title="NUESTRA HISTORIA"
    subtitle="Una vocación y pasión por la medicina que se trasladó
    de padre a hijo."
    [titleFontSize]="40"
    [titleFontSizeScreen]="30"
    imageUrl="..\assets\images\CPR_gingko.jpg"
    color="rgba(167, 160, 28, 0.75)"
></app-title-card>

<div class="content">

    <div class="content-img">
        <div class="img-container">
            <img src="..\assets\images\CPR_JOS.jpg" alt="Dr. Jorge O. Sar"/>
            <p class="img-caption">Dr. Jorge O. Sar</p>
        </div>
        <div class="img-container">
            <img src="..\assets\images\CPR_JAS.jpg" alt="Dr. Jorge A. Sar"/>
            <p class="img-caption">Dr. Jorge A. Sar</p>
        </div>
    </div>
    

    <div class="content-text">
        
        <div class="description">
            <p>Hace más de cuatro décadas, el <strong>Dr. Jorge O. Sar</strong> abría su consultorio en Río Cuarto,
                Córdoba. En sus inicios, la especialidad que brindaba era la radiología.</p>

            <p>Con esfuerzo constante y el compromiso de brindar una atención de calidad a los
                pacientes, logró instalar un <strong>Centro de Radioterapia.</strong></p> 

            <p>El <strong>Dr. Jorge Alejandro Sar</strong>, su hijo, dio continuidad a este ambicioso proyecto que hoy
                vemos materializado en el <strong>Centro Privado de Radioterapia Río Cuarto,</strong> al que
                concurren pacientes de <strong>toda Argentina y de países limítrofes.</strong></p>

            <p>La continua formación e incorporación de tecnología, el compromiso del grupo de trabajo,
                resultan claves para el acompañamiento de nuestros pacientes durante el proceso de cura.</p>

            <p>Todo este se esfuerzo se ha dado de la mano de la promoción de <strong>equipos
                profesionales multidisciplinarios de excelencia</strong>, respetando todos los protocolos 
                internacionales de ética y garantía de calidad.</p>
            
            <p>A través de investigaciones y redes de vinculación con otros centros del país, sumado a
                proyectos para un mayor desarrollo de la radioterapia a nivel nacional, el <strong>Centro Privado
                de Radioterapia de Río Cuarto se ha establecido como una institución emblema en
                Argentina.</strong></p>

        </div>
    </div>       

</div>
