<div class="conteiner">
    <app-title-card
        title="NUESTRA HISTORIA"
        [subtitle]="'Una vocación y pasión por la medicina <span class=&quot;hide-on-mobile&quot;><br></span>que se trasladó de padre a hijo.'"
        [titleFontSize]="40"
        [titleFontSizeScreen]="30"
        imageUrl="..\assets\images\CPR_gingko.jpg"  
    ></app-title-card>

    <div class="content">
        <!-- Primera sección de texto e imágenes -->
       <div class="flex container">
           <!-- Texto de introducción -->
           <div class="content-text">
                <div class="description">
                    <p>Hace más de cuatro décadas, el <strong>Dr. Jorge O. Sar</strong> abría su consultorio en Río Cuarto,
                        Córdoba. En sus inicios, la especialidad que brindaba era la radiología.</p>

                    <p>Con esfuerzo constante y el compromiso de brindar una atención de calidad a los
                        pacientes, logró instalar un Centro de Radioterapia.</p> 

                    <p>El <strong>Dr. Jorge Alejandro Sar</strong>, su hijo, dio continuidad a este ambicioso proyecto que hoy
                        vemos materializado en el Centro Privado de Radioterapia Río Cuarto, al que
                        concurren pacientes de toda Argentina y de países limítrofes.</p>

                    <p>La continua formación e incorporación de tecnología, el compromiso del grupo de trabajo,
                        resultan claves para el acompañamiento de nuestros pacientes durante el proceso de cura.</p>

                    <p>Todo este se esfuerzo se ha dado de la mano de la promoción de equipos
                        profesionales multidisciplinarios de excelencia, respetando todos los protocolos 
                        internacionales de ética y garantía de calidad.</p>
                    
                    <p>A través de investigaciones y redes de vinculación con otros centros del país, sumado a
                        proyectos para un mayor desarrollo de la radioterapia a nivel nacional, el Centro Privado
                        de Radioterapia de Río Cuarto se ha establecido como una institución emblema en
                        Argentina.</p>
                </div>
            </div>

            <!-- Imágenes -->
            <div class="content-img">
                <div class="img-container">
                    <img src="..\assets\images\foto_JASar.png" alt="Dr. Jorge A. Sar"/>
                    <p class="img-caption">Dr. Jorge A. Sar</p>
                </div>
                <div class="img-container">
                    <img src="..\assets\images\foto_JOSar.png" alt="Dr. Jorge O. Sar"/>
                    <p class="img-caption">Dr. Jorge O. Sar</p>
                </div>
            </div>

        </div>  

    </div>

</div>