<app-title-card
    title="TURNOS PARA PACIENTES FUERA
DE LA PROVINCIA DE CÓRDOBA"
    [specialtyText]="'RADIOTERAPIA'"
    [specialtyColor]="'#c5b90f'"
    [titleFontSize]="40"
    [titleFontSizeScreen]="18"
    imageUrl="assets/images/CPR_turnos-psico.jpg"
></app-title-card>

<div class="content mb-8">
    <div class="content-text">
        <div>
            <p class="titulo"> Gestione su turno aquí para Psico-oncología,<br> Taller de Mindfulness
                o Psicología</p>
        </div>
        <app-shift-form [psycho]="true"></app-shift-form>
    </div>
</div>




