<div class="fondoClaro flex h-full">
    <div class="flex flex-column justify-content-center block">
        <img class="cursor-pointer" [routerLink]="['/']" id="logo" src="../../assets/images/CPR_logo-apaisado.png" alt="">
        <p class="textoClaro">
            Más de 40 años de experiencia
            profesional y liderazgo tecnológico,
            comprometidos con mejorar la
            calidad de vida de los pacientes.
        </p>
        <div class="flex mt-5 justify-content-start gap-2">
            <img class="iconos cursor-pointer" src="../../assets/iconos/icon-fb.png" alt="Icono Facebook">
            <img class="iconos cursor-pointer" src="../../assets/iconos/icon-ig.png" alt="Icono Instagram">
            <img class="iconos cursor-pointer" src="../../assets/iconos/icon-yt.png" alt="Icono Youtube">
            <img class="iconos cursor-pointer" src="../../assets/iconos/icon-wapp.png" alt="Icono WhatsApp">
        </div>
    </div>
    <p-divider styleClass="divididor" layout="vertical" />
    <div class="block">
        <h5 class="tituloFoot">QUICK LINKS</h5>
        <div class="alineacion">
            <li><a href="/radiotherapy">Radioterapia</a></li>
            <li><a href="/diagnostic-imaging">Diagnóstico por Imágenes</a></li>
            <li><a href="/psychology">Psicología</a></li>
            <li><a href="/our-center">Nuestro Centro</a></li>
            <li><a href="/staff-profesionales">Staff</a></li>
            <li><a href="/equipamiento">Equipamiento</a></li>
            <li><a href="/news">Novedades</a></li>
            <li><a href="/shifts-options">Turnos</a></li>
            <li><a href="/contact">Contacto</a></li>
        </div>
    </div>
    <p-divider styleClass="divididor" layout="vertical" />
    <div class="block">
        <h5 class="tituloFoot">TRATAMIENTOS</h5>
        <div class="alineacion">
            <li><a class="smallFont" href="/hdr-prostate-brachytherapy">Braquiterapia HDR (Próstata)</a></li>
            <li><a class="smallFont" href="/gynecological-hdr-brachytherapy">Braquiterapia HDR (Gineco.
                    Intracavitaria)</a>
            </li>
            <li><a class="smallFont" href="/gynecological-hdr-brachytherapy">Braquiterapia HDR (Gineco.
                    Intersticial)</a>
            </li>
            <li><a class="smallFont" href="/hdr-skin-brachytherapy">Braquiterapia HDR (De Piel)</a></li>
            <li><a class="smallFont" href="/igrt-exactrac-brainlab-image-guided-radiotherapy">IGRT (Radioterapia Guiada
                    por
                    Imágenes)</a></li>
            <li><a class="smallFont" href="/sbrt-exactrac-body-stereotaxic-radiosurgery">SBRT Exactrac (Radiocirugía
                    Corporal)</a></li>
            <li><a class="smallFont" href="/srs-exactrac-cranial-stereotaxic-radiosurgery">SRS Exactrac (Radiocirugía
                    Craneal)</a></li>
            <li><a class="smallFont" href="/hybridarc-volumetric-dynamic-therapy">Hybridarc Terapia Dinámica
                    Volumétrica</a>
            </li>
            <li><a class="smallFont" href="/imrt-intensity-modulated-radiotherapy-with-multileaf">IMRT (Radioterapia de
                    Int.
                    Modulada)</a></li>
            <li><a class="smallFont" href="/r3-d-three-dimensional-conformal-radiotherapy">R3D (Radioterapia
                    Tridimensional)</a></li>
        </div>
    </div>
    <p-divider styleClass="divididor" layout="vertical" />
    <div class="block espacio">
        <h5 class="tituloFoot">CONTACTO</h5>
        <div class="alineacion">
            <li><strong>Turnos</strong></li>
            <li>+54 9 351 803-3089</li>
            <li><strong>Consultas</strong></li>
            <li>(0358) 46-48062 / 46-51645</li>
            <li>(0358) 49-02093 / 49-02095</li>
            <li><strong>Email</strong></li>
            <li><a href="mailto:info@radioterapia-rio4.com.ar">info&#64;radioterapia-rio4.com.ar</a></li>
            <li><strong>Dónde estamos</strong></li>
            <li>General Paz 1556 (5800)</li>
            <li>Río Cuarto, Córdoba, Argentina</li>
        </div>
    </div>
</div>

<div class="fondoOscuro textoClaro flex align-items-center">
    © CENTRO PRIVADO DE RADIOTERAPIA RIO CUARTO. Todos los derechos reservados
</div>