<app-title-card
    title="BRAQUITERAPIA HDR GINECOLÓGICA
    INTRACAVITARIA / INSTERSTICIAL"
    [titleFontSize]="35"
    [titleFontSizeScreen]="15"
    imageUrl="..\assets\images\CPR_braquiterapia.jpeg"
></app-title-card>

<div class="content">
    
    <div class="first flex">
        <div class="flex">
            <div class="content-text">
                <div>
                    <p class="titulo">Tratamiento seguro e indoloro, con un desarrollo más corto y confortable que otros métodos.</p>
                </div>
                <div class="description">
                    <p>La Braquiterapia forma parte de los protocolos de tratamiento de tumores ginecológicos y
                        consiste en <strong>irradiar selectivamente el tejido tumoral</strong> mediante la inserción de fuentes
                        radioactivas en el organismo que son controladas de forma <strong>precisa y exacta</strong> por un sistema
                        robótico.</p>
        
                    <p>Las sesiones duran de <strong>10 a 15 minutos</strong>. Y se realiza de manera <strong>ambulatoria</strong>. </p>
        
                    <p>Al ser un tratamiento indoloro, aumenta considerablemente la calidad de vida de la paciente.</p>
                </div>
            </div>
        </div>
            
        <div class="flex align-items-center justify-content-center">
            <div class="content-img">
                <img src="..\assets\images\CPR_braqui-ginecologica.jpg"/>
                <img src="..\assets\images\CPR_braqui-aparato-det.jpeg"/>
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="content-text">
            <div class="botones">
                <div class="description">
                    <p>En función al tipo de tumor a tratar <strong>-carcinoma de endometrio, de cervix, de vulva o vagina-</strong>,
                        se emplea la técnica más adecuada.</p>
        
                    <p>Estas técnicas pueden ser:</p> 
                </div>
                <div class="flex mb-4 gap-4 ">
                    <p-button class="bra-button" label="BRAQUITERAPIA INTRACAVITARIA" (click)="goToBraquiIntracavitary()" [style]="{'border-radius': '15px'}"></p-button>
                    <p-button class="bra-button" label="BRAQUITERAPIA INTERSTICIAL"  (click)="goToBraquiIntersitial()" [style]="{'border-radius': '15px'}"></p-button>
                </div>
            </div>
            
        </div>
    </div>
</div>

    
<app-turn-foot 
title1= "Contactanos y solicitá de manera simple tu <strong> primer turno <strong>"
direccion="/shifts-start-radiotherapy"
></app-turn-foot>
