<app-title-card
    title="TURNO PARA DIAGNÓSTICO POR IMÁGENES"
    [titleFontSize]="48"
    imageUrl="..\assets\images\CPR_tomografia1.jpg"
    color= "rgba(215, 138, 0, 0.6)"
></app-title-card>

<div class="content mb-8">
    <div class="content-text">
        <div class="titulo">
            <p> Gestione su turno aquí para Diagnóstico por Imágenes.
                Si tiene <strong>alguna duda o consulta</strong> acerca de este servicio o del estudio
                que debe realizarse, <strong>consúltenos vía Watsapp</strong> en el contacto que tiene
                en la parte inferior derecha de la página. </p>

            <p>Si sólo necesita solicitar un turno, complete el formulario y nos
                comunicaremos a la brevedad con Ud. </p>
        </div>

        <app-shift-form></app-shift-form>
        
    </div>
</div>

    


