<div class="conteiner">
  <app-title-card
    title="PSICOLOGÍA"
    [titleFontSize]="45"
    [titleFontSizeScreen]="20"
    imageUrl="assets/images/CPR_psicologia.jpg"
    objectPosition="50% 20%">
  </app-title-card>

  <div class="content">
    <div class="container-flex">
      <div class="content-text first-text">
        <p class="titulo">El Servicio de Psicología de nuestro
          Centro es desarrollado por el
          Lic. Juan Pablo Montanelli,
          psicólogo e instructor de
          Mindfulness ofreciendo Psicoterapia
          clásica y convencional o el Taller de
          Mindfulness de forma individual
          o grupal.</p>
        <div class="description">
          <p>Ofrecemos un servicio de calidad
            en un espacio amable, seguro y
            confidencial basado en el diálogo
            sincero, objetivo y neutral como así
            también en las prácticas
            contemplativas que mejoran y
            acompañan el proceso de cura,
            reduciendo el estrés, mejorando la
            concentración e incrementando el
            bienestar emocional.</p>
        </div>
      </div>

      <div class="content-img">
        <a [routerLink]="['/psycho-oncology']"><img src="assets/images/banner-psico1.svg"/></a>
        <a [routerLink]="['/what-is-mindfulness']"><img src="assets/images/banner-psico2.svg"/></a>
        <a [routerLink]="['/mindfulness-workshop']"><img src="assets/images/banner-psico3.svg"/></a>
      </div>
    </div>
  </div>
</div>

<app-turn-foot></app-turn-foot>
