<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /prueba/dist/cpr/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /prueba/dist/cpr/index.html [L]
</IfModule>
