.article-card {
    width: 100%;
    height: var(--height);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.8);
}


.article-card .content {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
    margin-left: 5%;
}

.article-card .title {
    margin: 0;
    font-size: var(--title-font-size, 10px);
}


.article-card .subtitle {
    margin: 0;
    font-size: 20px;
    text-align: left;
}

.article-card {
  position: relative; /* Asegura el posicionamiento de los hijos */
  /* ... tus otros estilos ... */
}

.specialty-badge {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 30px;
  position: absolute;
  z-index: 2;
}
.title {
    font-family: 'Rubik Light';
    font-weight: 500;
    font-size: x-large;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .article-card {
        width: 100%;
        height: 200px;
    }

    .article-card .title {
        font-size: var(--title-font-size-screen, 15px);
    }

    .article-card .subtitle {
        font-size: 8px;
    }

    .content .text{
        margin-left: 10%;
    }

    ::ng-deep .hide-on-mobile {
        display: none;
    }

    .article-card .content {
        margin-bottom: 20px;
        border-radius: 0 30px 0 0;
        height: 35%;
        width: 60%;

    }


}
