.article-card {
    width: 100%;
    height: 550px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    
}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}


.article-card .content {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2; 
    margin-left: 5%;
}

.article-card .title {
    margin: 0;
    font-size: var(--title-font-size, 10px);
}


.article-card .subtitle {
    margin: 0;
    font-size: 20px;
    text-align: left;
}


.title {
    font-family: 'Rubik Light';
    font-weight: 500;
    font-size: x-large;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .article-card {
        width: 100%;
        height: 200px;
    }

    .article-card .title {
        font-size: var(--title-font-size-screen, 15px);
    }

    .article-card .subtitle {
        font-size: 8px;
    }

    .content .text{
        margin-left: 10%;
    }

    ::ng-deep .hide-on-mobile {
        display: none;
    }

    .article-card .content {
        margin-bottom: 20px;
        border-radius: 0 30px 0 0;
        height: 35%;
        width: 60%;
        
    }


}