<div class="card flex flex-wrap gap-3 justify-content-center">
    <button pButton pRipple label="Boton Principal" class="p-button-success p-button-rounded p-button-raised "></button>
    <button pButton pRipple label="Boton Consultas"
        class="p-button-success p-button-rounded p-button-raised consultas-button"></button>
    <button pButton pRipple label="Boton Turnos"
        class="p-button-success p-button-rounded p-button-raised turnos-button"></button>
</div>
<div class="flex justify-content-center align-items-center fondoVerde mr-4 mt-4 mb-4 -ml-2">
    <img src="../../assets/images/CPR_logo-apaisado.png" alt="">
    <p-divider layout="vertical"></p-divider>
    <h6 class="text-white text-lg" >Excelencia médica y calidez
        <br>
    humana al servicio de su Salud  </h6>
</div>
<div>
    <app-mini-card></app-mini-card>
</div>
<!--
Los bloques que estén horizontal en la compi
Celular: uno abajo del otro
-->