<div class="flex justify-content-center align-items-center fondoVerde">
    <img class="w-2" src="../../assets/images/CPR_logo-apaisado.png" alt="">
    <p-divider layout="vertical"></p-divider>
    <span class="text-white texto">Excelencia médica y calidez<br>humana al servicio de su Salud
    </span>
</div>
<div class="flex  flex-column justify-content-center align-items-center ">
    <h2 class="text-white textoPregunta">¿EN QUÉ PODEMOS AYUDARTE?</h2>
    <div class="input-container">
        <input type="text" id="roundedInput" placeholder="TURNOS, TRATAMIENTOS, ESPECIALIDADES, PROFESIONALES..." />
        <button type="button" pButton icon="pi pi-search" class="p-button-warning search-button"></button>
    </div>
</div>
<div>
    <app-mini-card></app-mini-card>
</div>
<div class="card flex flex-wrap gap-3 justify-content-center">
    <button pButton pRipple label="Boton Principal" class="p-button-success p-button-rounded p-button-raised "></button>
    <button pButton pRipple label="Boton Consultas"
        class="p-button-success p-button-rounded p-button-raised consultas-button"></button>
    <button pButton pRipple label="Boton Turnos"
        class="p-button-success p-button-rounded p-button-raised turnos-button"></button>
</div>
<!--
Los bloques que estén horizontal en la compi
Celular: uno abajo del otro
-->