<p class="text-6xl">Vamos equipooo!</p>
<div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" [raised]="true"></p-button>
    <p-button label="Secondary" [raised]="true" severity="secondary"></p-button>
    <p-button label="Success" [raised]="true" severity="success"></p-button>
    <p-button label="Info" [raised]="true" severity="info"></p-button>
    <p-button label="Warning" [raised]="true" severity="warning"></p-button>
    <p-button label="Help" [raised]="true" severity="help"></p-button>
    <p-button label="Danger" [raised]="true" severity="danger"></p-button>
</div>