<div class="conteiner">
    <app-title-card
        title="SBRT EXACTRAC – RADIOCIRUGÍA ESTEREOTÁXICA CORPORAL"
        [titleFontSize]="35"
        [titleFontSizeScreen]="15"
        [titlePadding]="42"
        imageUrl="..\assets\images\CPR_tratamiento2.jpg"
        color="rgba(97, 102, 61, 0.65)"
    ></app-title-card>

    <div class="content">
        <div class="content-text">
            <div>
                <p  class="titulo">La SRBT es ambulatoria, indolora y administrable en 1 o pocas fracciones de
                    15 minutos, permitiéndole al paciente llevar una vida normal.</p>
            </div>

            <div class="description">
                <p>La Radiocirugía Estereotáxica Corporal — SBRT (Stereotactic Body Radiation Therapy) es una
                    técnica terapéutica <strong>moderna y precisa</strong> en la cual se irradian pequeños volúmenes con altas
                    dosis de radiación, <strong>dirigida a pacientes con tumores primarios o metastásicos</strong>, produciendo
                    tasas de control comparables a la cirugía clásica.</p>
            </div>
        </div>       
                    
        <div class="content-img">
            <img src="..\assets\images\CPR_SRBT.jpeg"/>
            <img src="..\assets\images\CPR_tratamiento3.jpg"/>
        </div>

        <div class="content-text">
            <div class="description">
                <p>La planificación se realiza a partir de imágenes en cuatro dimensiones, teniendo en cuenta el
                    volumen y movimiento de los órganos.</p>
            </div>
            
            <div class="subtitle">
                <p>ALGUNO DE LOS BENEFICIOS DE ESTE TRATAMIENTO</p>
            </div>
            
            <div class="description">

                <div class="flex align-items-center check">
                    <span class="pi pi-check" style="color: rgb(97, 102, 61)"></span> 
                    <p>Ambulatoria</p>
                </div>

                <div class="flex align-items-center check">
                    <span class="pi pi-check" style="color: rgba(97, 102, 61)"></span> 
                    <p>No invasiva</p>
                </div>

                <div class="flex align-items-center check">
                    <span class="pi pi-check" style="color: rgba(97, 102, 61)"></span> 
                    <p>Indolora</p>
                </div>

                <div class="flex align-items-center check">
                    <span class="pi pi-check" style="color: rgba(97, 102, 61)"></span> 
                    <p>Se realiza sin anestesia</p>
                </div>

                <div class="flex align-items-center check">
                    <span class="pi pi-check" style="color: rgba(97, 102, 61)"></span> 
                    <p>Administrable en 1 o pocas fracciones de 15 minutos</p>
                </div>

                

            </div>

        </div>        
    </div>

</div>
