<app-title-card
    title="IGRT EXACTRAC – BRAINLAB – RADIOTERAPIA GUIADA POR IMÁGENES"
    [titleFontSize]="35"
    [titleFontSizeScreen]="15"
    [titlePadding]="42"
    imageUrl="..\assets\images\CPR_tratamientoIGRT.jpg"
    color="rgba(97, 102, 61, 0.65)"
></app-title-card>

<div class="content">
    <div class="content-text">
        <div>
            <p class="titulo">La IGRT es una técnica de tratamiento en la cual se utilizan imágenes de
                diagnóstico modernas para mejorar la precisión y la exactitud en la
                administración de la radioterapia.</p>
        </div>

        <div class="description">
            <p>ExacTrac es un sistema de revisión basado en rayos x e infrarrojos que permite <strong>la
                posición del paciente en tiempo real y detectar movimientos intrafracción del tumor
                durante la aplicación del tratamiento.</strong></p>

            <p>Durante la aplicación se graba en forma digital la posición exacta del paciente verificando, de
                manera permanente, los movimientos involuntarios durante Ia administración del mismo. </p>

            <p>Una vez detectado un error se interrumpe la irradiación y se corrige automáticamente la posición
                del paciente para completar la fracción diaria.
            </p>    
        </div>
    </div>       
                
    <div class="content-img">
        <img src="..\assets\images\CPR_IGRT.jpeg"/>
        <img src="..\assets\images\CPR_tratamiento1.jpg"/>
    </div>
    
    <div class="content-text">
        <div class="description">            
            <p>La planificación se realiza a partir de imágenes en cuatro dimensiones, teniendo en cuenta el
                volumen y movimiento de los órganos.</p>
            <p>Se emplea un software específico para crear planes de tratamiento que dirigen con precisión
                varios haces de irradiación de diferentes intensidades y desde ángulos no coplanares,
                protegiendo el tejido sano circundante.</p>
        </div>
    </div>   
</div>

