div {
    font-family: 'Rubik Regular', sans-serif;
}

.titulo {
    font-size: 28px;
    font-family: 'Rubik Regular', sans-serif;
    color: #919747;
    margin-top: 40px;
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    background: linear-gradient(to bottom, rgba(137, 151, 33, 0.466), rgba(255, 255, 255, 0.5) 25%);
    padding-top: 10px;
    font-family: 'Rubik Regular', sans-serif;
}

.content-text {
    margin-top: 2%;
    margin-left: 5%;
}

.description p {
    font-size: 22px;
}

.description span {
    font-size: 1.5rem;
}

.description strong {
    font-weight: bold;
    font-weight: 800;
}

.content-img {
    margin-top: 3.5%;
    margin-left: 5%;
    align-items: center;
    margin-bottom: 12%;
}

.content-img img {
    margin-top: 4%;
    width: 380px;
    height: 250px;
    margin-right: 80px;
    object-fit: cover;
    border-radius: 0 40px 0 0;
}

.titulo-ventajas {
  font-size: 28px !important;
  color: #919747;
  margin-top: 40px;
  margin-bottom: 20px;
}

.check {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.check span {
  color: #000;
  margin-right: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 4px;
  flex-shrink: 0;
}

.check p {
  margin: 0 !important;
  font-size: 22px;
  line-height: 1.4;
  color: #000;
}

@media screen and (max-width: 600px) {
    .titulo {
        margin-top: 15px;
        font-size: 15px;
    }

    .description p {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
    }

    .content-text {
        margin-right: 5%;
        margin-top: 0px;
    }

    .content-img {
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        margin-top: 0px;
    }

    .content-img img {
        margin-top: 0px;
        width: 48%;
        height: 130px;
        object-fit: cover;
        border-radius: 0 40px 0 0;
        margin-right: 0px;
    }

    .content-img img:first-child {
        margin-right: 10px;
        margin-bottom: 0%;
    }
  .titulo-ventajas {
    font-size: 18px;
    margin-top: 25px;
  }

  .check p {
    font-size: 12px;
  }

  .check span {
    font-size: 0.9rem;
    margin-right: 10px;
    padding-top: 2px;
  }
}
