<div class="flex justify-content-center align cards-container">
  <a routerLink="/radiotherapy">
    <div class="card">
      <div class="imagen-contenedor flex justify-content-center align-items-center">
        <img src="assets/images/CPR_home_radioterapia.jpg" alt="">
      </div>
      <div class="info-contenedor card1">
        <p class="titulo texto m-0 text-left">Radioterapia</p>
        <p class="subtitulo text-left">Conozca todos los tratamientos y patologías <br>
          que se tratan en nuestro Centro.</p>
      </div>
    </div>
  </a>
  <a routerLink="/diagnostic-imaging">
    <div class="card">
      <div class="imagen-contenedor flex justify-content-center align-items-center">
        <img src="assets/news/banner-home2.png" alt="">
      </div>
      <div class="info-contenedor card2">
        <p class="titulo texto m-0 text-left">Diagnóstico por imágenes</p>
        <p class="subtitulo text-left">Nuestro Centro realiza Diagnósticos por imágenes para <br>
          tratamientos oncológicos y de otras especialidades.</p>
      </div>
    </div>
  </a>
  <a routerLink="/psychology">
    <div class="card">
      <div class="imagen-contenedor flex justify-content-center align-items-center">
        <img src="assets/news/banner-psico_new.png" alt="">
      </div>
      <div class="info-contenedor card3">
        <p class="titulo texto m-0 text-left">Psicología</p>
        <p class="subtitulo text-left">Atención psicólógica gratuita para pacientes y familiares. <br>
          Psicología clínica y talleres de Mindfulness.</p>
      </div>
    </div>
  </a>
</div>
