a {
    cursor: pointer;
    text-decoration: none;
}

.titulo {
    font-size: 30px;
    font-family: 'Rubik Regular', sans-serif;
    color: #ffffff;
}

.card {
    height: 32vh;
    width: 50vh;
    border-radius: 0 20px 0 0;
}

.imagen-contenedor {
    height: 50%;
    border-radius: 0 20px 0 0;
    overflow: hidden;
}

img {
    padding-top: 20%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info-contenedor {
    height: 50%;
}

.card1 {
    background-color: #838940
}

.card2 {
    background-color: #d78a00
}

.card3 {
    background-color: #a7a11c
}

.texto {
    font-size: 20px;
    font-weight: bold;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
}

.footerText {
    color: #888888;
}

.footerText:hover {
    color: #919747;
}

.espacio {
    padding-top: 2%;
    padding-bottom: 5%;
}

.subtitulo {
    font-family: 'Rubik Regular', sans-serif;
    font-size: 10px;
    color: #ffffff;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
}

@media screen and (max-width: 600px) {
    .card {
        height: 24vh;
        width: 35vh;
        background-color: #919747;
    }
        .titulo {
            font-size: 15px;
            font-family: 'Rubik Regular', sans-serif;
            color: #ffffff;
        }
        .subtitulo{
            font-size: 8px;
        }
}